﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true"
    CodeFile="EXCELFILE.aspx.cs" Inherits="SIS_EXCELFILE" ValidateRequest="false" %>

<%@ Register Assembly="PageOffice, Version=3.0.0.1, Culture=neutral, PublicKeyToken=1d75ee5788809228"
    Namespace="PageOffice" TagPrefix="po" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder2" runat="Server">
    &nbsp;选择模板：<input type="text" ondblclick="SelMB()" id="txtMB" runat="server" readonly="readonly"
        style="cursor: text;" onfocus="ts()" />
    <%--<input type="button" value="查询" onclick="getlist()" class="button" style="width:100px;height:20px;"/>--%>
    <input type="button" value="添加excel模板" onclick="AddData()" class="button5" style="width: 100px;
        height: 20px;" id="Button1" />
    <input type="button" value="修改名称" onclick="UpdateData()" class="button5" id="UpName"
        style="width: 100px; height: 20px;" />
    <input type="button" value="删除excel" onclick="DeleteExcel()" class="button5" id="DelExcel"
        style="width: 100px; height: 20px;" />
    <input type="button" class="button5" value="设置公式" onclick="ByVal(this)" onserverclick="tt"
        style="width: 100px; height: 20px;" /><br />
    <input id="File1" type="file" runat="server" style="width: 403px; height: 20px;" />
    <asp:Button ID="Button12" runat="server" OnClick="Button111_Click" OnClientClick="return selCheck()"
        CssClass="button" Text="导入" Style="width: 100px; height: 20px;" />
    <input type="button" value="打开新模板" style="width: 100px;" class="button" onclick="Opens()" />
    <input class="button" type="button" value="退出" onclick="PageClose('this')" style="width: 100px;
        height: 20px;" />
    <asp:HiddenField ID="_hf_ExcelSetting" runat="server" />
    <asp:Button ID="Button3" runat="server" Text="查询" OnClick="Button3_Click" OnClientClick="return cxPD()" />
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder3" runat="Server">
    <po:PageOfficeCtrl ID="PageOfficeCtrl1" runat="server" Menubar="true" OfficeToolbars="true">
    </po:PageOfficeCtrl>
    <input type="hidden" id="hidType" runat="server" />
    <input type="hidden" id="hidID" runat="server" />
    <input type="hidden" id="hidName" runat="server" />
    <input type="hidden" id="hidyy" runat="server" />
    <input type="hidden" id="hidHSZXDM" runat="server" />
    <asp:HiddenField ID="_hf_ExcelXmlData" runat="server" />
    <input type="hidden" id="hidFileLoad" runat="server" />
    <input type="hidden" id="hidFile" runat="server" />
    <input type="hidden" id="hidFileName" runat="server" />
    <input type="hidden" id="hidRutenValue" />
    <input type="hidden" id="hidKJDM" runat="server" />
    <input type="hidden" id="hidMB" />
    <input type="hidden" id="hidDJ" />
    <input type="hidden" id="hidRheaders" runat="server" />
    <input type="hidden" id="hidCheaders" runat="server" />
    <input type="hidden" id="hidHscrollbar" runat="server" />
    <input type="hidden" id="hidVscrollbar" runat="server" />
    <input type="hidden" id="hidAddress" runat="server" />
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="ContentPlaceHolder4" runat="Server">
    <script type="text/javascript">
        function cxPD() {
            if ($("#<%=hidID.ClientID %>").val() == "") {
                alert("请选择模板！");
                return false;
            }

        }

        function open() {
            $("#WinPsw").window('open');
        }

        function Save() {
            document.getElementById("PageOfficeCtrl1").WebSave();
        }
        function OpenExcel() {
            document.getElementById("PageOfficeCtrl1").ServerPage = "pageoffice/server.aspx"; //设置服务器页面
            document.getElementById("PageOfficeCtrl1").JsFunction_OnExcelCellClick = "OnCellClick()"; //点击Excel中的指定的单元格，调用js函数OnCellClick()弹出一个可以选择部门的对话框
            //document.getElementById("PageOfficeCtrl1").WebOpen("../doc/test.xls", "xlsNormalEdit", "aaa");//打开文件
        }
        function dj() {
            debugger;
            // document.getElementById("PageOfficeCtrl1").Document.Application.ActiveCell.value = "dasdas";
            //              document.getElementById("PageOfficeCtrl1").Document.Application.ActiveCell.Row
            //              document.getElementById("PageOfficeCtrl1").Document.Application.ActiveCell.Column

            //            document.getElementById("PageOfficeCtrl1").Document.Application.Sheets("Sheet1").UsedRange.Column
            //            document.getElementById("PageOfficeCtrl1").Document.Application.ActiveSheet.UsedRange.Columns.Count 

            //            document.getElementById("PageOfficeCtrl1").Document.Application.Sheets("Sheet1").UsedRange.Row
            //document.getElementById("PageOfficeCtrl1").Document.Application.ActiveSheet.UsedRange.Rows.Count
            //document.getElementById("PageOfficeCtrl1").Document.Application.selection.address;
            //document.getElementById("PageOfficeCtrl1").Document.Application.selection.Locked=false;
            //document.getElementById("PageOfficeCtrl1").Document.Application.Range("B2:E5").Locked;
            //document.getElementById("PageOfficeCtrl1").Document.Application.ActiveCell.Protection.AllowEditRanges;
            //document.getElementById("PageOfficeCtrl1").Document.Application.ActiveCell.AllowEdit = false;
            //document.getElementById("PageOfficeCtrl1").Document.Application.ActiveSheet.Protection;
            document.getElementById("PageOfficeCtrl1").Document.Application.ActiveSheet.Range("B2:E5").Protection.AllowDeletingColumns;
            //        Range("A1").Select
            //    Application.Goto Reference:="Macro1"
            //    Rows("1:1").Select
            //    Selection.EntireRow.Hidden = True
            //    Application.Goto Reference:="Macro1"

        }

        function OnCellClick() {

            //              var ss = "sub myfunc() \r\n";
            //              ss += " Range(\"A1\").Select \r\n";
            //              ss+="Selection.EntireRow.Hidden = True \r\n";
            //              ss += "end sub";
            //document.getElementById("PageOfficeCtrl1").RunMacro("myfunc",ss);
            //              document.getElementById("PageOfficeCtrl1").Document.Application.ActiveCell.value = "dasdas";
            //              document.getElementById("PageOfficeCtrl1").Document.Application.ActiveCell.Row
            //              document.getElementById("PageOfficeCtrl1").Document.Application.ActiveCell.Column

            //            document.getElementById("PageOfficeCtrl1").Document.Application.Sheets("Sheet1").UsedRange.Column
            //            document.getElementById("PageOfficeCtrl1").Document.Application.ActiveSheet.UsedRange.Columns.Count 

            //            document.getElementById("PageOfficeCtrl1").Document.Application.Sheets("Sheet1").UsedRange.Row
            //document.getElementById("PageOfficeCtrl1").Document.Application.ActiveSheet.UsedRange.Rows.Count
            var ss = document.getElementById("PageOfficeCtrl1").Document.Application.selection.address;
            $("#<%=hidAddress.ClientID %>").val(ss);
            //              $("#<%=hidAddress.ClientID %>").val(ss);
            //document.getElementById("PageOfficeCtrl1").Document.Application.Rows("1,1").EntireRow.Hidden=True;
            //document.getElementById("PageOfficeCtrl1").Document.Application.Range("B2:E5").Protection.AllowEditRanges;
            //var ss=document.getElementById("PageOfficeCtrl1").Document.Application.ActiveSheet.Protection.AllowEditRanges;
            //             Range("B2:E5").Select
            //    ActiveSheet.Protect DrawingObjects:=True, Contents:=True, Scenarios:=True

        }





        //选择模版
        function ts() {
            event.srcElement.title = "双击选择模板";
        }



        //添加EXCEL模版
        function AddData() {
            var s = window.showModalDialog("EditExcel.aspx?type=add&rnd=" + Math.random(), "newwindow", "dialogWidth=300px;dialogHeight=200px;toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, status=no");
            if (s != "" && s != undefined) {
                $("#<%=txtMB.ClientID %>").val(s.split(',')[1]);
                $("#<%=hidID.ClientID %>").val(s.split(',')[0]);
            }
        }
        function Win(Flag) {
            if (Flag == true) {
                $("#Win").window('open');
            }
            else {
                $("#Win").window('close');
            }
        }
        function WinCloseEvent() {
            $("#Win").window({

                onBeforeClose: function () {

                }
            });
        }

        //修改EXCEL模版
        function UpdateData() {
            var id = $("#<%=hidID.ClientID %>").val();
            if (id == "") {
                alert("请先选中SIS监控模板!");
                return;
            } else if ($("#<%=hidType.ClientID %>").val() == 1) {
                alert("无法修改!只能修改SIS监控模板");
                return;
            } else {
                var s = window.showModalDialog("EditExcel.aspx?type=update&id=" + id + "&rnd=" + Math.random(), "newwindow", "dialogWidth=320px;dialogHeight=200px;toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, status=no");
                //如果修改成功刷新选择模板文本框
                if (s != "" && s != undefined) {
                    $("#<%=txtMB.ClientID %>").val(s.split(',')[1]);
                }
            }
        }


        //删除EXCEL模版
        function DeleteExcel() {
            var id = $("#<%=hidID.ClientID %>").val();
            if (id == "") {
                alert("请先选中SIS监控模板!");
                return;
            } else if ($("#<%=hidType.ClientID %>").val() == 1) {
                alert("无法删除!只能删除SIS监控模板");
                return;
            } else {
                var r = confirm("确定要删除吗？");
                if (r == true) {

                    var f = SIS_EXCELFILE.DelDate(id).value;
                    if (f == true) {
                        var hf = SIS_EXCELFILE.getListByDel($("#<%=_hf_ExcelXmlData.ClientID %>").val()).value;
                        var sheet = document.getElementById("_obj_Excel");
                        if (hf != "") {
                            sheet.XMLData = hf;
                        }
                        hf = "";

                        set_ProtectModeForEdit(sheet);
                        set_ExcelDisplayMode(sheet);

                        $("#<%=txtMB.ClientID %>").val("");
                        alert("删除成功！");
                    } else {
                        alert("删除失败!");
                        return;
                    }
                } else {
                    return;
                }
            }
        }

        //获取EXCEL属性
        function get_SheetXmlData() {
            var sheet = document.getElementById("_obj_Excel");
            var Rheaders = sheet.ActiveWindow.DisplayRowHeadings;
            var Cheaders = sheet.ActiveWindow.DisplayColumnHeadings;
            var Hscrollbar = sheet.ActiveWindow.DisplayHorizontalScrollBar;
            var Vscrollbar = sheet.ActiveWindow.DisplayVerticalScrollBar;
            $("#<%=hidRheaders.ClientID %>").val(Rheaders);
            $("#<%=hidCheaders.ClientID %>").val(Cheaders);
            $("#<%=hidHscrollbar.ClientID %>").val(Hscrollbar);
            $("#<%=hidVscrollbar.ClientID %>").val(Vscrollbar);
            var hf = document.getElementById("<%= _hf_ExcelXmlData.ClientID%>");
            hf.value = sheet.XMLData;
        }




        //导入
        function selCheck() {
            var id = $("#<%=hidID.ClientID %>").val();
            if (id == "") {
                alert("请先选中Excel模板!");
                return false;
            } else if ($("#<%=File1.ClientID %>").val() == "") {
                alert("请选择Excel");
                return false;
            }
            var f = true;
            var str = $("#<%=File1.ClientID %>").val();
            var pos = str.lastIndexOf(".");
            var lastname = str.substring(pos, str.length);
            //   debugger;
            if (str != "") {
                if (lastname.toLowerCase() != ".xls" && lastname.toLowerCase() != ".xlsx") {
                    alert("请选择EXCEL文件!");
                    f = false;
                }
            }
            return f;
        }

        function set_SheetXmlData() {

            var sheet = document.getElementById("_obj_Excel");
            var hf = document.getElementById("<%= _hf_ExcelXmlData.ClientID%>");
            if (hf.value != "") {
                sheet.XMLData = hf.value;
            }
            hf.value = "";

        }
        var s;
        //设置公式
        function ByVal(objs) {
            //debugger;
            if ($("#<%=hidID.ClientID %>").val() == "") {
                alert("请先选中Excel模板!");
                return;
            }
            var obj = document.getElementById("_obj_Excel");
            if (objs.value != "")
            //获取单元格内容
                var ID = obj.ActiveCell.Formula;
            if (s2 == null || s2.closed) {

                if (s == null || s.closed) {
                    var iTop = (window.screen.availHeight - 30 - 580) / 2;       //获得窗口的垂直位置;
                    var iLeft = (window.screen.availWidth - 10 - 500) / 2;           //获得窗口的水平位置;left=300,top=100,
                    if (ID.substring(0, 3) != "=n_") {
                        s = window.open("bbgsjs.aspx?ID=&rnd=" + Math.random(), "", "Width=500,Height=580,left=" + iLeft + ",top=" + iTop + ",status=no,directories=yes,scrollbars=no,Resizable=no");
                    } else {
                        s = window.open("bbgsjs.aspx?ID=" + encodeURIComponent(ID.substring(3, ID.length)) + "&rnd=" + Math.random(), "", "Width=500,Height=580,left=" + iLeft + ",top=" + iTop + ",status=no,directories=yes,scrollbars=no,Resizable=no");
                    }
                    $("#<%=hidKJDM.ClientID %>").val($("#hidRutenValue").val());
                } else {
                    s.focus();
                }
            }

            objs.selectedIndex = 0;
        }

        var s2;
        //取数
        function getData(objs) {
            if ($("#<%=hidID.ClientID %>").val() == "") {
                alert("请先选中报表模板!");
                return;
                //0-监控，1-报表
            } else if ($("#<%=hidType.ClientID %>").val() == 0) {
                alert("请先选中报表模板!");
                return;
            }
            var obj = document.getElementById("_obj_Excel");
            if (objs.value != "")
                var ID = $("#<%=hidID.ClientID %>").val();
            if (s == null || s.closed) {
                if (s2 == null || s2.closed) {
                    var iTop = (window.screen.availHeight - 30 - 350) / 2;       //获得窗口的垂直位置;
                    var iLeft = (window.screen.availWidth - 10 - 250) / 2;           //获得窗口的水平位置;left=300,top=100,
                    s2 = window.open("bb.aspx?ID=" + escape(ID) + "&Info=" + obj.ActiveCell.Formula + "&rnd=" + Math.random(), "", "Width=350,Height=250,left=" + iLeft + ",top=" + iTop + ",status=no,directories=yes,scrollbars=no,Resizable=no");
                } else {
                    s2.focus();
                }
            }
            objs.selectedIndex = 0;
        }

        //选择模板
        function SelMB() {
            var s = window.showModalDialog("SelMB.aspx?rnd=" + Math.random(), "newwindow", "dialogWidth=300px;dialogHeight=350px;toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, status=no");
            if (s != undefined) {
                $("#<%=txtMB.ClientID %>").val(s.split(',')[1]);
                $("#<%=hidID.ClientID %>").val(s.split(',')[0]);
                $("#<%=hidType.ClientID %>").val(s.split(',')[2]);
            }
        }

        //添加序号
        function chanages(objs) {
            var obj = document.getElementById("_obj_Excel");
            if (objs.value != "") {
                var vv = obj.ActiveCell.Formula;

                //判断只有第一列才设置
                if (obj.ActiveCell.Column == "1") {

                    if (objs.value != "QX") {
                        if (vv.substring(0, 2) == "=n" && vv.substring(0, 3) != "=n_") //判断为数据集的
                        {
                            vv = vv.substring(2);
                            if (vv.substring(0, 4) == "del_") {
                                vv = vv.substring(4);
                            }

                            if (vv.substring(0, 2) == "XH") {
                                if (vv.substring(0, 3) == objs.value) {
                                    //如果之前设置了序号则不变
                                    obj.ActiveCell.Formula = obj.ActiveCell.Formula;
                                } else {
                                    //没设置，则替换
                                    obj.ActiveCell.Formula = obj.ActiveCell.Formula.replace(vv.substring(0, 3), objs.value);
                                }
                            } else {
                                obj.ActiveCell.Formula = "=n" + objs.value + vv;
                            }
                        } else if (vv.substring(0, 3) == "=n_") {
                            obj.ActiveCell.Formula = obj.ActiveCell.Formula;
                        } else if (vv.substring(0, 4) == "del_") {
                            vv = vv.substring(4);
                            if (vv.substring(0, 2) == "XH") {
                                if (vv.substring(0, 3) == objs.value) {
                                    //如果之前设置了序号则不变
                                    obj.ActiveCell.Formula = obj.ActiveCell.Formula;
                                } else {
                                    //没设置，则替换
                                    obj.ActiveCell.Formula = obj.ActiveCell.Formula.replace(vv.substring(0, 3), objs.value);
                                }
                            } else {
                                obj.ActiveCell.Formula = "del_" + objs.value + vv;
                            }

                        } else {
                            if (vv.length >= 3) {
                                if (vv.substring(0, 2) == "XH") {
                                    if (vv.substring(0, 3) == objs.value) {
                                        obj.ActiveCell.Formula = obj.ActiveCell.Formula;
                                    } else {
                                        obj.ActiveCell.Formula = obj.ActiveCell.Formula.replace(vv.substring(0, 3), objs.value);
                                    }
                                } else {
                                    obj.ActiveCell.Formula = objs.value + obj.ActiveCell.Formula;
                                }
                            } else {
                                obj.ActiveCell.Formula = objs.value + obj.ActiveCell.Formula;
                            }
                        }
                    } else if (objs.value == "QX") {
                        if (vv.substring(0, 2) == "=n" && vv.substring(0, 3) != "=n_") {
                            vv = vv.substring(2);
                            if (vv.substring(0, 4) == "del_") {
                                vv = vv.substring(4);
                                if (vv.substring(0, 2) == "XH") {
                                    vv = vv.substring(3);
                                    obj.ActiveCell.Formula = "=ndel_" + vv;
                                } else {
                                    obj.ActiveCell.Formula = obj.ActiveCell.Formula;
                                }
                            } else if (vv.substring(0, 2) == "XH") {
                                vv = vv.substring(3);
                                obj.ActiveCell.Formula = "=n" + vv;
                            }
                        } else if (vv.substring(0, 4) == "del_") {
                            vv = vv.substring(4);
                            if (vv.substring(0, 2) == "XH") {
                                vv = vv.substring(3);
                                obj.ActiveCell.Formula = "del_" + vv;
                            } else {
                                obj.ActiveCell.Formula = obj.ActiveCell.Formula;
                            }
                        } else if (vv.substring(0, 2) == "XH") {
                            obj.ActiveCell.Formula = vv.substring(3);
                        }

                    }
                }
            }
            objs.selectedIndex = 0;
        }

        //标记删除
        function del() {
            var obj = document.getElementById("_obj_Excel");
            var vv = obj.ActiveCell.Formula;
            var ss = vv.indexOf("del_");
            //debugger;
            //判断只有第一列才设置
            if (obj.ActiveCell.Column == "1") {
                if (ss == "-1") {
                    if (vv.substring(0, 2) == "=n" && vv.substring(0, 3) != "=n_") {
                        vv = vv.substring(2);
                        //判断是否加了删除标记
                        if (vv.substring(0, 4) == "del_") {
                            //如果之前设置了则不变
                            obj.ActiveCell.Formula = obj.ActiveCell.Formula;
                        } else {
                            //没设置，则加上标记
                            obj.ActiveCell.Formula = "=ndel_" + vv;
                        }

                    } else if (vv.substring(0, 3) == "=n_") {
                        vv = vv.substring(3);
                        if (vv.substring(0, 4) == "del_") {
                            obj.ActiveCell.Formula = obj.ActiveCell.Formula;
                        } else {
                            obj.ActiveCell.Formula = "=n_del_" + vv;
                        }
                    } else {
                        if (vv.substring(0, 4) == "del_") {
                            obj.ActiveCell.Formula = obj.ActiveCell.Formula;
                        } else {
                            obj.ActiveCell.Formula = "del_" + vv;
                        }
                    }

                } else {
                    if (vv.substring(0, 2) == "=n" && vv.substring(0, 3) != "=n_") {
                        vv = vv.substring(2);
                        if (vv.substring(0, 4) == "del_") {
                            vv = vv.substring(4);
                            obj.ActiveCell.Formula = "=n" + vv;
                        } else {
                            obj.ActiveCell.Formula = obj.ActiveCell.Formula;
                        }
                    } else if (vv.substring(0, 3) == "=n_") {
                        vv = vv.substring(3);
                        if (vv.substring(0, 4) == "del_") {
                            vv = vv.substring(4);
                            obj.ActiveCell.Formula = "=n_" + vv;
                        } else {
                            obj.ActiveCell.Formula = obj.ActiveCell.Formula;
                        }
                    } else if (vv.substring(0, 4) == "del_") {
                        vv = vv.substring(4);
                        obj.ActiveCell.Formula = vv;
                    }
                }

            }
        }

        //打开新模版
        function Opens() {
            for (var i = 1; i < 100; i++) {
                //  debugger;
                var objid = "EXCEL_" + i;
                var obj = parent.document.getElementById("ifrcust" + objid);
                if (obj == null) {
                    parent.addtalkbox(objid, "EXCEL模板", "SIS/EXCELFILE.aspx");
                    break;
                }
            }

        }
        $(document).ready(function () { OpenExcel(); WinCloseEvent(); });    


    </script>
</asp:Content>
