body{
	scrollbar-face-color: #D7E0EB;
	scrollbar-highlight-color: #E9EDF3;
	scrollbar-shadow-color: #B4C7E4;
	scrollbar-3dlight-color: #F3F7F8;
	scrollbar-arrow-color:  #2B61B4;
	scrollbar-track-color: #EFEFEF;
	scrollbar-darkshadow-color: #DEE3E7;
}
#matable{border:1px solid #C0C0FF;border-collapse: collapse;text-align: center;}
#matable td{border:1px solid #C0C0FF;}
#matable tr{height:25px;}
.trbgcolor{background:#E8F1FE}
/*#table_datalist{border:1px solid #C0C0FF;border-collapse: collapse;}
#table_datalist td{border:1px solid #C0C0FF;}
#table_datalist tr{line-height:30px;}
*/
A:link {
	COLOR: #0a4173;
}
A:visited {
	COLOR: #0a4173;
}
A:hover {
	COLOR: #1274BA;
}
A:active {
	COLOR: #1274BA;
}
.reverse a:link, .reverse a:visited, .reverse a:active{
	color:#1274BA;
}
.reverse:hover{
	color:white; background:#1274BA;
}
.emphasize{
	color:#E83820;
}
.colordiv{
	line-height:25px; background:#F5FBFF; text-align:left;
}
/*
.toptitle, .toptitle a:link, .toptitle a:visited{
	background-image:url(bg_top.gif);
}
*/
.toptitle, .toptitle a:link{
	background-image:url(../Images/bg_top.gif);
}

.toptitle a:hover{
	background-image:url(../Images/bg_top2.gif);
}
/*
.toptitle_r, .toptitle_r a:link, .toptitle_r a:visited{
	background-image:url(bg_top.gif);
}
*/
.toptitle_r, .toptitle_r a:link{
	background-image:url(../Images/bg_top.gif);
}

.toptitle_r a:hover{
	background-image:url(../Images/bg_top2.gif);
}

.topline{
	background-color:#93b9dc
}
.lefttab{
	background-image:url(../Images/bg_left.gif);
}
.lefttab2{
	background:url(bg_left2.gif) no-repeat left top; border:1px #FFF solid;
}
.tabOn{
	background-image:url(../Images/tabon.gif);
}
.tabOff{
	background-image:url(../Images/taboff.gif);
}
.tabOn6{
	background-image:url(../Images/tabon6.gif);
}
.tabOff6{
	background-image:url(../Images/taboff6.gif);
}
.column{
	border:1px #93b9dc solid;
}
.columntitle{
	background:#bfd3e6; border-bottom:1px #93b9dc solid; color:#000000;
}
.columntitle span{
	color:#000000;
}
.columnsubtitle{
	background:#F5FBFF; border-top:1px #d5e3ef solid; color:#0A4173; 
}

.separator{
	background:#eff2f4;
}

.colorfocus {
	border: 1px #86a1ba double;
	background-color: #fff8e6;
}
.colorblur {
	border: 1px #86a1ba double;
	background-color: #ffffff;
}


/*.button{border:1px #93b9dc solid;background:url(../Images/button_bg.gif) repeat;}
.button:hover{background-image:url(../Images/button2.jpg);background-color:#FFFFFF;}*/
.button{border-style:none;background-image:url(../Images/button2.jpg);background-color:#FFFFFF;padding:0px 6px; cursor:pointer; width:80px;height:26px;color:#FFFFFF; }
.button1{border-style:none;background-image:url(../Images/button1.jpg);background-color:#FFFFFF;padding:0px 6px; cursor:pointer; width:80px;height:26px;color:#FFFFFF }
.buttons{border-style:none;background-image:url(../Images/button3.jpg);background-color:#FFFFFF;padding:0px 6px; cursor:pointer; width:60px;height:20px;color:#FFFFFF }
.buttons1{border-style:none;background-image:url(../Images/button4.jpg);background-color:#FFFFFF;padding:0px 6px; cursor:pointer; width:60px;height:20px;color:#FFFFFF }
.button5{border:1px #93b9dc solid;background:url(../Images/button_bg.gif) repeat;padding:0px 6px; cursor:pointer; width:60px;height:20px;}
/*.summary-title { background:#f0f6fc; border-top:1px #d5e3ef solid; }*/
.summary-title { background:#77ADDB; border-top:1px #d5e3ef solid; }
.summary-titles {background:#77ADDB; border-top:1px #d5e3ef solid;}
.tdbg-dark {background: #d5e3ef;}
linebgcolor 
{
	background-color:#FF8C00;height:3px;
}
