﻿<%@ page language="C#" masterpagefile="~/MasterPage.master" autoeventwireup="true" inherits="SYS_kjcd, App_Web_eqmkw1i3" title="Untitled Page" %>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder2" Runat="Server">

   
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder3" Runat="Server">
    <div style="height: 430px;border: solid 1px #9ACB34; overflow:hidden" id="divTreeListView">
  </div>
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="ContentPlaceHolder4" Runat="Server">
    <script type="text/javascript">
function getlist1()
{
    document.getElementById("divTreeListView").innerHTML=SYS_kjcd.getlist().value;
}
function OpenBB(BBBM, BBMC, URL) 
{
    parent.addtalkbox(BBBM, BBMC, URL);
    SYS_kjcd.bb_czrz("打开报表" + BBMC);
}
$(document).ready(function(){getlist1()});
</script>

</asp:Content>

