﻿<%@ page language="C#" autoeventwireup="true" inherits="ExcelMb_Default, App_Web_b5w2xii1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../Content/themes/default/easyui.css" />
    <link rel="stylesheet" type="text/css" href="../Css/icon.css" />
    <link rel="stylesheet" type="text/css" href="../Css/demo.css" />
    <script type="text/javascript" src="../JS/jquery.min.js"></script>
    <script type="text/javascript" src="../JS/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../JS/easyui-lang-zh_CN.js"></script>
    <script src="../JS/day.js" type="text/javascript"></script>
    <script language="javascript" type="text/javascript">
// <![CDATA[

        function Button1_onclick() {
            //            $.messager.prompt("aa", "", function (arg) { });
            $('#test').window('open');
        }

// ]]>
    </script>
</head>
<body >
<form id="form1" runat="server" class="easyui-layout" style="width:1200px;height:800px;">

    <div region="north" border="false" style="height: 60px; background: #B3DFDA;">
        north region</div>
    <div region="west" split="true" title="West" style="width: 100px; padding: 2px;">
        west content</div>
    <div region="east" split="true" title="East" style="width: 100px; padding: 2px;">
        east region</div>
    <div region="south" border="false" style="height: 50px; background: #A9FACD; padding: 5px;">
        south region</div>
    <div region="center" title="Main Title">
          </div>
   </form>

</body>
</html>
