﻿<%@ Page Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="BDDY.aspx.cs" Inherits="DYSZ_BDDY" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">

   
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder2" Runat="Server">
 年份：<input  type="text" id="TxtYY" class="Wdate"  onfocus="WdatePicker({lang:'zh-cn',dateFmt:'yyyy',onpicked:dateChange()})"  style="width:120px"  />&nbsp;&nbsp;
<input id="Button11" class="button5"  type="button" value="保存"  onclick="adddata()"/>
<input id="Button1" class="button5"  type="button" value="查询"  onclick="getlist('','','')"/>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder3" Runat="Server">
   <div id="divTreeListView"></div>
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="ContentPlaceHolder4" Runat="Server">

    <input type="hidden" runat="server" id="hidIDValue" />
    <input type="hidden" runat="server" id="hidfiledname" />
    <input type="hidden" runat="server" id="hidfiledvalue" />
    <input type="hidden" runat="server"  id="hidcheckid" />
    <input type="hidden" id="hidYHBM" />
    <input type="hidden" id="hidindexid" value="DYDM" />
    <input type="hidden" runat="server" id ="hidyy" />
    <input type="hidden" id ="hidDYDM" />
    <input type="hidden" id="hidindexdm" value="DYDM" />
    <input type="hidden" runat="server" id="Hidden1" />

 <script type="text/javascript">
     //查询
     function getlist(objtr, objid, intimagecount) {
         getlistzydm(objtr, objid, intimagecount);
     }
     function getlistzydm(objtr, objid, intimagecount) {
         var rtnstr = DYSZ_BDDY.LoadList(objtr, objid, intimagecount, $("#TxtYY").val()).value;
         if (objtr == "" && objid == "" && intimagecount == "")
             document.getElementById("divTreeListView").innerHTML = rtnstr;
         else
             $("#" + objtr).after(rtnstr);
     }
     //添加数据
     function adddata() {
         //         var checkbc = document.getElementById("Checkbox1");
         //         if (checkbc.checked == true) {
         obj = document.getElementsByName("readimage");
         var delid = "";
         var objfiledname = document.getElementById("trDYDM").childNodes;
         var objfileds = "";
         for (var i = 0; i < objfiledname.length; i++) {
             if (objfiledname[i].id.substring(5) == "") {

             }
             else {
                 objfileds += "," + objfiledname[i].id.substring(5);
             }
         }
         for (var i = 0; i < obj.length; i++) {

             if (obj[i].src.indexOf("edit.jpg") > -1) {
                 var objtd = obj[i].parentNode.parentNode.getElementsByTagName("td");
                 var objvalues = "";
                 for (var j = 4; j < objtd.length; j++) {
                     if (objtd[j].firstChild.value > 0 || objtd[j].firstChild.value == "") {
                         objvalues += "|" + objtd[j].firstChild.value;
                     }
                     else {
                         objvalues += "|";
                         alert("变动比例必须大于0");
                     }
                 }
                 var dydm = objtd[3].innerHTML;
                 DYSZ_BDDY.update(dydm, objfileds.substring(1), objvalues.substring(1), $("#TxtYY").val());
             }
         }
         $(document).ready(function () { getlist('', '', ''); });
     }
     $(document).ready(function () {
         InitData();
         getlist('', '', '');
     });
     //获取年份
     function InitData() {
         $("#TxtYY").val(DYSZ_BDDY.InitData().value);
     }
     function dateChange() {
         getlist('', '', '');
     }
 </script>
</asp:Content>
