﻿<%@ Page Title="" Language="C#" AutoEventWireup="true" CodeFile="CWZBXD.aspx.cs" Inherits="YSTB_CWZBXD" %>
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <link href="../CSS/style.css" type="text/css" rel="Stylesheet" />
    <link href="../CSS/style1.css" type="text/css" rel="Stylesheet" />
    <script type="text/javascript" src="../JS/jquery-1.3.1.min.js"></script>
    <script type="text/javascript" src="../JS/mainScript.js"> </script>
</head>
<body style="margin-left: 3px; margin-top: 0px; overflow:auto; ">
<form id="form1" runat="server">
    <table style="height:100%;border: solid 1px #9ACB34; border-collapse:collapse">
    <tr>
      <td style="width:180px; height:100%;border: solid 1px #9ACB34;">
         <div style=" width:180px;height:100%;overflow: auto">
          <div style="height:20px; width:180px; border: solid 1px #9ACB34; background-color: #77ADDB; vertical-align:middle">
              使用部门</div>
         <asp:TreeView runat="server" ID="TreeView1"></asp:TreeView>
         </div>
      </td>
       <td style ="width :100%;vertical-align: top;height:100%;border: solid 1px #9ACB34;">
        <div style="height:100%;overflow: auto " id="div3">
        <iframe  id="ifr12" name="ifr" style="width:100%; height: 100%; overflow:auto"frameborder="0"; marginheight="0" marginwidth="0"></iframe>
        </div>
       </td>
    </tr>
  </table> 
<input type="hidden" id="HidZYDM" runat ="server" />
</form>
<script type="text/javascript">
    function  CWZBXD(ZYDM) {
        $("#ifr12").attr("src", "ZBXD.aspx?ZYDM=" + ZYDM + "");
    }
</script>
</body>
</html>

