﻿<%@ page language="C#" masterpagefile="~/MasterPage.master" autoeventwireup="true" inherits="FYSZ_BMFYGL, App_Web_lv5wv2wr" %>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder2" Runat="Server">

       <input type="button" class="button5"  value="刷新" onclick ="getlist('', '', '')" />&nbsp;&nbsp;
       <input type="button" class="button5" value="删除" onclick="Del()" />&nbsp;&nbsp;
       <input class="button5" onclick="jsAddData()" type="button" value="添加" />&nbsp;&nbsp;
       <input id="Button11" class="button5"  type="button" value="保存"  onclick="SetValues()" />&nbsp;&nbsp;

</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder3" Runat="Server">
 <div id="divTreeListView"></div>
  <%--<div id="DivMb" style="width: 100%; height: 100%;">
             <%=GetDataGridList()%>
  </div>--%>
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="ContentPlaceHolder4" Runat="Server">
<input type="hidden" id="hidindexid" value="ID" />
<input type="hidden"   id="hidcheckid" />
<input type="hidden"   id="hidTrIdDelete" />
<input type="hidden" id="hidNewLine" />
<input type="hidden" id="KJID" />

<script type="text/javascript">

    $(document).ready(function () {
        //GetDataGridList();
        getlist('', '', '');
    });
    //获得列表
   function getlist(objtr, objid, intimagecount) {
     var rtnstr = FYSZ_BMFYGL.LoadList(objtr, objid, intimagecount).value;
        if (objtr == "" && objid == "" && intimagecount == "")
            document.getElementById("divTreeListView").innerHTML = rtnstr;
    }
    //添加数据
    function jsAddData() {
        if ($("#hidNewLine").val() == "")
            $("#hidNewLine").val(FYSZ_BMFYGL.AddData().value);
        $("#divTreeListView table").append($("#hidNewLine").val().replace('{000}', $("#divTreeListView tr").length).replace('{000}', $("#divTreeListView tr").length));
    }
    //修改数据
    function jsUpdateData(objid, objfileds, objvalues) {
        var rtn = FYSZ_BMFYGL.UpdateData(objid, objfileds, objvalues).value;
        alert(rtn);
    }

    //删除
    function Del() {
        if ($("#hidcheckid").val() != "")
            $("tr td[name^=td" + $("#hidindexid").val() + "]").each(function () {
                if ($(this).html() == $("#hidcheckid").val()) {
                    $("#" + $(this).parent()[0].id + " img[name=readimage]").attr("src", "../Images/Tree/delete.gif");
                }
            });
    }
    function jsDeleteData(obj) {
        var rtn = FYSZ_BMFYGL.DeleteData(obj).value;
        if (rtn > 0) {
            alert('删除成功！');
        }
        else {
            alert('删除失败！');
        }
    }
</script>
</asp:Content>
