﻿<%@ page language="C#" autoeventwireup="true" inherits="ContentList, App_Web_lv5wv2wr" %>
<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>无标题页</title>
        <link href="../CSS/style.css" type="text/css" rel="Stylesheet" />

    <script type="text/javascript" src="../js/jquery-1.3.1.min.js"></script>

    <script type="text/javascript" src="../js/mainScript.js">

    </script>

    <link href="../css/style1.css" type="text/css" rel="Stylesheet" />
</head>
<body>
    <form id="form1" runat="server">
    <input id="Hid_DM" type="hidden" />
    <input id="KJID" type="hidden"  runat="server"/>
    <div id="divdatalist" runat="server">
         <div style=" width:200px;height:100%"><asp:TreeView runat="server" ID="TreeView1"></asp:TreeView></div>
    </div>
    </form>
    <script type="text/javascript">
        function onselects() {
            var win = window.opener;
            win.SetObjValue($("#Hid_DM").val());
            window.close();
    }    
    </script>
</body>
</html>
