﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="bbgsjs.aspx.cs" Inherits="bbgsjs" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head id="Head1" runat="server">
  <base target="_self" />
    <title>公式设置</title>
     
    <link href="../../CSS/style.css" type="text/css" rel="Stylesheet" />
    <script src="../../JS/jquery-1.3.1.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="../../js/mainScript.js">

    </script>

    <link href="../../css/style1.css" type="text/css" rel="Stylesheet" />
    <script type="text/javascript" >
   
     //公式下拉框填充数值
      function getgss() {


          var s=bbgsjs.getgs().value;
          var gss=document.getElementById("gs");
          gss.options.add(new Option("----请选择----","----请选择----"));
          for(var i=0;i<s.split('|').length;i++)
          {
              gss.options.add(new Option(s.split('|')[i].split(',')[1],s.split('|')[i].split(',')[0]));
          }
          //将前一页选中的单元格公式带过来
          var GS = $("#<%=HidGS.ClientID %>").val();
          if (GS != "" && GS != null) {
              if (GS.toString().substring(0, 3) == "=n_") {
                  $("#tgs").val(GS.toString().substring(3, GS.toString().length));
              }
              else {
                  if (GS.toString().substring(0, 1) == "=") {
                      $("#tgs").val(GS.toString().substring(1, GS.toString().length));
                  } else {
                      $("#tgs").val(GS);
                  }
              }
          }

      }
      //刷条件列表
      function dd() {
//          var rtn = bbgsjs.IsCanSetBDGS("<%=MBDM %>","<%=SHEETNAME %>").value;
//          if (rtn == -1) 
//          {
//              $("#gs").val("----请选择----");
//              alert("当前模板不能设置变动公式！");
//              return;
//          }
//          else 
//          {
//              document.getElementById("ggsz").innerHTML = bbgsjs.liebiao($("#gs").val()).value;
//              arr.length = 0;
          //          }
          document.getElementById("ggsz").innerHTML = bbgsjs.liebiao($("#gs").val()).value;
          arr.length = 0;
      }
    
      //添加公式
       var zvalue="";
       var fuhao="";
       var p="";
       var count=0;
       var thzhi="";
       function adds() {
           var z = bbgsjs.tjz($("#gs").val()).value;
           if (z == "" || z == null) {
               return;
           }
           var zhi = "",BDFS="";
           var checkzhi = "";
           for (var i = 0; i < z.split(',').length; i++) {
               zhi += $("#" + z.split(',')[i] + "").val();
               if (i < z.split(',').length - 1) {
                   zhi += "+";
               }

           }

           var zq = $("#zhouqi").val();
           if ($("#zhiduan").val() == null) {
               alert("字段不能为空");
           }
           else {
               //取数函数为变动行项目取数函数时，有一个取数方式下拉框
               if ($("#BDFS").length > 0) {
                   BDFS = $("#BDFS").val();
               }
               zvalue = bbgsjs.addgs($("#gs").val(), zhi, BDFS, $("#zhiduan").val(), zq).value;
           }
           var sss = "";
           var sss = $("#tgs").val();

           var fh = sss.replace(p, "");
           fh = fh.replace(zvalue, "");
           fuhao += fh;
           if (count > 0) {
               fuhao = fuhao + ",";
           }

           zvalue = sss + zvalue;
           document.getElementById("tgs").value = zvalue;
           var ss = $("#tgs").val();
           p = ss;
           count = count + 1;
       }
      var arr = new Array();
      function getvalue(id, sjyid, tjdm, xh) {
          var userdm = $("#<%=HidUserdm.ClientID %>").val();
          var yy = $("#<%=HidYy.ClientID %>").val();
          var hszxdm = $("#<%=HidHszxdm.ClientID %>").val();
          var ss = window.showModalDialog("tj2.aspx?userdm="+userdm+"&yy="+yy+"&hszxdm="+hszxdm+"&tjsz=" + encodeURIComponent(arr.join("+")) + "&id=" + id + "&sjyid=" + sjyid + "&tjdm=" + tjdm + "&xh=" + xh + "&rnd=" + Math.random(), "dsds", "dialogWidth:400px; dialogHeight:500px; dialogLeft:500px; dialogTop:350px; status:no; directories:yes;scrollbars:no;Resizable=no; ");
          ShowModalDialog("tj2.aspx?userdm=" + userdm + "&yy=" + yy + "&hszxdm=" + hszxdm + "&tjsz=" + encodeURIComponent(arr.join("+")) + "&id=" + id + "&sjyid=" + sjyid + "&tjdm=" + tjdm + "&xh=" + xh + "&rnd=" + Math.random()); 
          $("#" + event.srcElement.id + "").val(ss);
          var zhi = "";
          var zj = sjyid + "&" + xh;
          if (arr.length == 0) {
              arr.push(sjyid + "&" + xh + "&" + tjdm + "&" + ss);
          }
          else {
              for (var i = 0; i < arr.length; i++) {
                  if (arr[i].indexOf(zj) > -1) {
                      arr[i] = sjyid + "&" + xh + "&" + tjdm + "&" + ss;
                      break;
                  }
              }
              arr.push(sjyid + "&" + xh + "&" + tjdm + "&" + ss);
          }
      }
      function getvalues(id, sjyid, tjdm, xh) {
          var userdm = $("#<%=HidUserdm.ClientID %>").val();
          var yy = $("#<%=HidYy.ClientID %>").val();
          var hszxdm = $("#<%=HidHszxdm.ClientID %>").val();
          var ss = window.showModalDialog("tj2.aspx?userdm=" + userdm + "&yy=" + yy + "&hszxdm=" + hszxdm + "&tjsz=" + encodeURIComponent(arr.join("+")) + "&id=" + id + "&sjyid=" + sjyid + "&tjdm=" + tjdm + "&xh=" + xh + "&rnd=" + Math.random(), "dsds", "dialogWidth:400px; dialogHeight:500px; dialogLeft:500px; dialogTop:350px; status:no; directories:yes;scrollbars:no;Resizable=no; ");
          ShowModalDialog("tj2.aspx?userdm=" + userdm + "&yy=" + yy + "&hszxdm=" + hszxdm + "&tjsz=" + encodeURIComponent(arr.join("+")) + "&id=" + id + "&sjyid=" + sjyid + "&tjdm=" + tjdm + "&xh=" + xh + "&rnd=" + Math.random());
          $("#" + event.srcElement.id + "").val(ss);
          var zhi = "";
          var zj = sjyid + "&" + xh;
          if (arr.length == 0) {
              arr.push(sjyid + "&" + xh + "&" + tjdm + "&" + ss);
          }
          else {
              for (var i = 0; i < arr.length; i++) {
                  if (arr[i].indexOf(zj) > -1) {
                      arr[i] = sjyid + "&" + xh + "&" + tjdm + "&" + ss;
                      break;
                  }
                  else {
                      arr.push(sjyid + "&" + xh + "&" + tjdm + "&" + ss);
                      break;
                  }
              }
          }
          if (tjdm == 'mbdm') {
              qiuzhiduanzhi(sjyid);
          }
      }
      function ShowModalDialog(url) {  
        var iframe = document.getElementById("postiframe");  
        var myForm = document.createElement("form");  
        myForm.id = "formtosubmit";  
        myForm.method = "post";  //使用post方式提交  
        myForm.action = url + "&isDlg=1"; //以dialog方式打开  
        myForm.target = iframe.id;  
        myForm.submit();   
     }
  
    



      //加载字段值周期值
      function qiuzhiduanzhi(sjyid) {
          var parid = $("#mbdm").val();
          var shszx = parid.split('|');
          var zy = "";
          for (var i = 0; i < shszx.length; i++) {
              zy += shszx[i].split('.')[0];
              if (i < shszx.length - 1) {
                  zy += ",";
              }
          }
          var zhi = bbgsjs.zhiduanzhi(zy).value;
          var cfzhi = zhi.split('|');
          var gss = document.getElementById("zhiduan");
          gss.options.length = 0;
          for (var i = 0; i < cfzhi.length; i++) {
              gss.options.add(new Option(cfzhi[i].split(',')[1], cfzhi[i].split(',')[0]));
          }
          var zhizq = bbgsjs.zhouqizhi1(zy, sjyid).value;
          var cfzq = zhizq.split('|');
          var gszq = document.getElementById("zhouqi");
          gszq.options.length = 0;
          for (var i = 0; i < cfzq.length; i++) {
              gszq.options.add(new Option(cfzq[i].split(',')[1], cfzq[i].split(',')[0]));
          }

      }
      
      function jxx()
      {
        
        var pd= $("#tgs").val();
        zvalues=bbgsjs.retjx(pd,fuhao).value;
        $("#tgsjx").val(zvalues);
      
      }



      function qd() 
      {
          try 
          {
              var win = window.dialogArguments;
              var lx = $("#<%=hidlx.ClientID %>").val();
              if ($("#tgs").val() == "") 
              {
                  alert("您没有设置公式！");
                  return;
              } 
              else 
              {
                  var rtn = win.IsExistGS("=n_" + $("#tgs").val());
                  if (rtn) 
                  {
                      if (lx == "1") 
                      {
                          win.SetCellValue("=n_" + $("#tgs").val());
                      }
                      else 
                      {
                          win.AddGS($("#tgs").val(), $("#tgsjx").val());
                      }
                      $("#tgs").val("");
                      $("#tgsjx").val("");
                  }
                  else 
                  {
                      alert("此延展公式已经设置，不能重复设置！");
                      $("#tgs").val("");
                      $("#tgsjx").val("");
                      return;
                  }
              }
          }catch(e){
                  alert("公式设置有误!");
                  return;
          }          
      }
      function qx()
      {
        window.close();
      }
      
      //公式赋值
      function tckj()
      {
        //;
        var ll= bbgsjs.dm().value;
         $("#tgs").val(ll);
      }
      //通过公式返回控件值
      function xgs() {
          debugger; 
        var gsss="";
        var gs= bbgsjs.getfirstgs(gsss).value;
        
         //获取当前的公式
         var dd=bbgsjs.csgs(gs).value;
         //
          $("#gs").val(dd);
        
         //刷列表
         document.getElementById("ggsz").innerHTML=bbgsjs.liebiao(dd).value;  
         //字段值
         var zhiduan=  bbgsjs.xgetzd(dd).value;
         $("#zhiduan").val(zhiduan);
         //周期值
         var zqz=bbgsjs.zhouqizhi(dd).value;
         $("#zhouqi").val(zqz);
         //条件值
         var tjz=bbgsjs.xgettj(dd,gs).value;
        
         var ss="";
        
         if(tjz!=null)
         {
           
           ss=tjz.split('$');
           
         }
      
         var z= bbgsjs.tjz(dd).value;
         var thtj=thzhi.split(',');
         for(var i=0;i<ss.length;i++)
         {
        
          var zhi=z.split(',')[i];
          if(zhi!="")
          {
               if(ss[i]!="-")
               {
                   $("#"+zhi+"").val(ss[i])
            
                   var ssdsd=$("#"+zhi+"").val();
               }
               else
               {
                 var che=document.getElementById("check"+zhi);
                 che.checked=true;
               
               }
              
        
           }
         
         }
        //添加公式解析
        var pd= $("#tgs").val();
        var  zvaluess=bbgsjs.retjx(pd,fuhao).value;
        $("#tgsjx").val(zvaluess);
        
      }
    
       $(document).ready(function(){getgss(); });
    </script>
    
</head>
<body>
   
    <form id="postiframe" runat="server">
   <iframe  id="iframepage" frameborder="0" style=" display:none" scrolling="no" marginheight="0" marginwidth="0" ></iframe>
    <input id="HidMbdm" type="hidden" runat="server" />
    <input id="HidUserdm" type="hidden" runat="server" />
    <input id="HidHszxdm" type="hidden" runat="server" />
    <input id="HidYy" type="hidden" runat="server" />
    <input id="HidGS" type="hidden" runat="server" />
   <div>
    <div >
      <table >
        <tr>
          <td >
            选择公式：
          </td>
          <td>
              <select id="gs" onchange ="dd()" >
              </select>
         </td>
        </tr>
      </table>
    </div>
       <div>
         <fieldset >
          <legend >公式设置</legend> 
         　 <div id="ggsz"></div>
         </fieldset>
       </div>
    <div >
       <table>
         <tr>
           <td>
               <input id="add" type="button" class="button" value="添加公式"  onclick ="adds()"/>
           </td>
           <td>
               <input id="jiexi" type="button" class="button" value="解析公式"  onclick ="jxx()"/>
           </td>
         </tr>
       </table>
    
    </div>
    <div >
      <fieldset >
        <legend >公式：</legend>
          <textarea id="tgs"  rows="5"  style="width: 422px; height: 80px ;" cols=""></textarea>
      </fieldset>
    </div>
    <div>
      <fieldset >
       <legend >公式解析：</legend>
         <textarea id="tgsjx"  rows="5"  style="width: 422px; height: 80px ;" cols="" ></textarea>
        
      </fieldset>
    </div>
    </div>
    
      <div >
         <table>
           <tr>
            <td>
                <input id="sq" type="button" value="确定"   onclick="qd()" class ="button" />
            </td>
            <td>
                <input id="xq" type="button" value="取消"  onclick ="qx()" class ="button" />
            </td>
           
           </tr>
         </table>
      </div>
    <input id="hidlx" type="hidden"  runat="server"/>
    </form>
</body>
</html>
