﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="Default3.aspx.cs" Inherits="Excels_ExcelMb_Default3" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder2" Runat="Server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder3" Runat="Server">
                                                                                                                                                                                 '><INPUT TYPE=BUTTON CLASS="button5" VALUE=选取 ONCLICK='selectvalues(this,"10144671  ")' xmdm=10144671   ></td><td name=tdID style=display:none>                                                                                                                                                                                                        </td></tr>
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="ContentPlaceHolder4" Runat="Server">
<script>
    function test() {
        var OXL = new ActiveXObject("Excel.Application");
        var path = Excels_ExcelMb_Default3.getPath();
        var owb = OXL.Workbooks.open(path);
        var sheet = owb.ActiveSheet;
        alert(sheet.Cell(1,1).value);

        }
//    function ss() {
//        var xlsx = require("node-xlsx");
//        
//        var list = xlsx.parse(path);
//        debugger;
        //    }
    $(document).ready(function () { });  
</script>
    
</asp:Content>

