﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="HSX.aspx.cs" Inherits="ExcelMb_HSX" %>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder2" Runat="Server">
      <table id="tbbutton">
       <tr>
        <td>所在列<input  type="text"  onchange=FHL/></td>
        <td><input id="Button1" class="button5"  type="button" value="保存"  onclick="SetValues()" /></td>
        <td><input type="button" class="button5"  value="刷新" onclick ="getlist('', '', '')" /></td>
        <td><input class="button5" onclick="jsAddData()" type="button" value="添加" />  </td>
        <td><input id="Button11" class="button5"  type="button" value="保存"  onclick="SetValues()" /></td>
         <td><input class="button5" type="button" value="退出" onclick ="PageClose(this)" /> </td>
       </tr>
     </table>
     
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder3" Runat="Server">
    <table >
    <tr>
      <td style="width:230px; height:100%;border: solid 1px #9ACB34;">
         <div class="summary-title" id="dsd">  &nbsp;使用部门</div>
         <div style=" width:230;height:100%"><asp:TreeView runat="server" ID="TreeView1"></asp:TreeView></div>
       </td>
       <td style =" width :100%;vertical-align: top">
            <div style="width:100%; height:100%;border: solid 1px #9ACB34; " id="div3">
                <table >
                <tr>
                <td  valign ="top" style="width: 3px; ">
                 <div  style="overflow:scroll" id="divTreeListView"></div>
                </td>
                </tr>
                </table>
            </div>
       </td>
    </tr>
    </table>
    <div id="SjzyDiv" style=" display:none">
    </div>
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="ContentPlaceHolder4" Runat="Server">
<input type="hidden" id="hidindexid" value="CPNBBM" />
<input type="hidden"   id="hidcheckid" />
<input type="hidden" id="hidNewLine" />   
<input type="hidden" id="hide_FBDM" runat="server" /> 
<input type="hidden" id="hid_ZYNBBM" runat="server" />
<input type="hidden" id="hide_ccjb" runat="server" /> 
<input type="hidden" id="HidMC" runat="server" /> 

<script type="text/javascript">
    function FHL() {
        $.ajax({
            type: 'get',
            url: 'ExcelData.ashx',
            data: {
                action: "CopyFile",
                filename: wjm
            },
            async: false,
            cache: false,
            success: function (result) {
                //                alert(result);

            },
            error: function () {
                alert("错误!");
            }
        });
    
    }
//    $(document).ready(function () {
//        getlist('', '', '');
//    });
    //获得列表
    function getlist(objtr, objid, intimagecount) {
        var rtnstr = CPSZ_CPSZ_ZY.LoadList(objtr, objid, intimagecount, $("#<%=hid_ZYNBBM.ClientID %>").val()).value;
        if (objtr == "" && objid == "" && intimagecount == "")
            document.getElementById("divTreeListView").innerHTML = rtnstr;
    }
    //添加数据
    function jsAddData() {
        if ($("#hidNewLine").val() == "")
            $("#hidNewLine").val(CPSZ_CPSZ_ZY.AddData().value);
        $("#divTreeListView table").append($("#hidNewLine").val().replace('{000}', $("#divTreeListView tr").length).replace('{000}', $("#divTreeListView tr").length));

    }
    //修改数据
    function jsUpdateData(objid, objfileds, objvalues) {
        if ($("#<%=hide_FBDM.ClientID %>").val() == "") {
            alert("请选择报表目录");
        }
        else {
            var rtn = CPSZ_CPSZ_ZY.UpdateData(objid, objfileds, objvalues, $("#<%=hide_FBDM.ClientID %>").val()).value;
            if (rtn != "" && rtn.substring(0, 1) == "0") {
                if (rtn.length > 1) {
                    alert(rtn.substring(1));
                }
            }
        }
    }
    //删除
    function jsDeleteData(obj) {
        var rtn = CPSZ_CPSZ_ZY.DeleteData(obj).value;
        if (rtn != "" && rtn.substring(0, 1) == "0")
            alert(rtn.substring(1));
    }
</script>
</asp:Content>

