﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="tj.aspx.cs" Inherits="tj" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>无标题页</title>
<base target="_self" />
           <link href="../../CSS/style.css" type="text/css" rel="Stylesheet" />
  　　

    <script type="text/javascript" src="../../js/jquery-1.3.1.min.js"></script>

    <script type="text/javascript" src="../../js/mainScript.js">

    </script>

    <link href="../../css/style1.css" type="text/css" rel="Stylesheet" />
</head>
<body>
    <form id="form1" runat="server">
  
 <div>
 <table  width ="100%">
<tr>
<td style ="vertical-align: top">
  <div style ="  height :400px;overflow:auto; width :100%">  
         <div > 
           <asp:TreeView runat="server" ID="tree" ShowLines="True" ShowCheckBoxes="All">
           </asp:TreeView>
            <asp:TreeView runat="server" ID="TreeView1" onclick="xuanzhe()" ShowLines="True" ShowCheckBoxes="All">
           </asp:TreeView>
           <asp:TreeView ID="TreeView2" onclick="xuanzhe()" ShowLines="True" ShowCheckBoxes="All" runat="server" ForeColor="Black"  OnTreeNodeExpanded="TreeView1_TreeNodeExpanded"  >    
          </asp:TreeView>

         </div>
         </div> 
        </td>
   </tr>  
    
     
</table>  
</div>
<div style="height:40px;width:100%">
        <table  >
        <tr>
        <td  style =" text-align :center ">  <asp:Button ID="Button1" runat="server" Text="确定" OnClick="Button1_Click1" 　class="button"/>   </td>
        <td  style =" text-align :center "> 
            <input id="Button2" type="button" value="取消" 　 onclick ="tc()" class ="button"  />
           </td>
        <td>   <input id="hid" type="hidden"  runat ="server" /> </td>
        </tr>
        </table>
</div>
    </form>
    <script type="text/javascript">
        function xuanzhe() {
            var o = window.event.srcElement;
            if (o.checked == true) {
                if (o.tagName == "INPUT" && o.type == "checkbox") //点击treeview的checkbox是触发
                {
                    var d = o.id; //获得当前checkbox的id;
                    var e = d.replace("CheckBox", "Nodes"); //通过查看脚本信息,获得包含所有子节点div的id
                    var div = window.document.getElementById(e); //获得div对象
                    if (div != null)  //如果不为空则表示,存在子节点
                    {
                        var check = div.getElementsByTagName("INPUT"); //获得div中所有的已input开始的标记
                        for (i = 0; i < check.length; i++) {
                            if (check[i].type == "checkbox" && check[i].checked == true) //如果是checkbox
                            {
                                alert("子节点已被选中，两者不能同时被选中！");
                                o.checked = false;
                                break;
                            }
                        }
                    }
                    //点子节点的时候,使父节点的状态改变,即不为全选
                    var divid = o.parentElement.parentElement.parentElement.parentElement.parentElement; //子节点所在的div
                    var id = divid.id.replace("Nodes", "CheckBox"); //获得根节点的id
                    if (window.document.getElementById(id).checked == true) {
                        alert("父节点已被选中，两者不能同时被选中！");
                        o.checked = false;
                        return;
                    }
                    else {
                        while (divid.id != "TreeView2") {
                            divid = divid.parentElement;
                            var id = divid.id.replace("Nodes", "CheckBox"); //获得根节点的id
                            if (window.document.getElementById(id).checked == true) {
                                alert("父节点已被选中，两者不能同时被选中！");
                                o.checked = false;
                                break;
                            }
                        }
                    }
                }
            }
        }

　　　　function tc()
　　　　{
　　　　  window.close();
　　　　}
    </script>
</body>
</html>
