﻿<%@ Page Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="CWFYFJ.aspx.cs" Inherits="JGSZ_CWFYFJ" %>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder2" Runat="Server">
 年份：<input  type="text" id="TxtYY" class="Wdate"  onfocus="WdatePicker({lang:'zh-cn',dateFmt:'yyyy',onpicked:dateChange()})"  style="width:120px"  />&nbsp;&nbsp;
生产方案：<select id="SelFA" onchange="FAChage()" style="width:150px;"></select>&nbsp;&nbsp;
    <input type="button" class="button5" value="查询" onclick="getlist('', '', '')" />
    <input class="button5" onclick="jsAddData()" type="button" value="添加" />
    <input type="button" class="button5" value="删除" onclick="Del()" />
    <input type="button" class="button5" value="取消删除" onclick="Cdel()" />
    <input id="Button11" class="button5" type="button" value="保存" onclick="SetValues()" />
    <br /><br />
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder3" Runat="Server">
    <div id="divTreeListView"></div>
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="ContentPlaceHolder4" Runat="Server">
<input type="hidden" id="hidindexid" value="ID" />
<input type="hidden"   id="hidcheckid" />
<input type="hidden" id="hidNewLine" />
<%--<input  type="hidden" id="HidXM"/>
<input  type="hidden" id="HidSelectedXM"/>
<input type="hidden" id="HidTrID" />--%>  
<script type="text/javascript">
    $(document).ready(function () {
        InitData();
        BindFA();
       // WinXMCloseEvent();
        getlist('', '', '');
    });
    //获得列表
    function getlist(objtr, objid, intimagecount) {
        var rtnstr = JGSZ_CWFYFJ.LoadList(objtr, objid, intimagecount, $("#TxtYY").val(), $("#SelFA").val()).value;
        if (objtr == "" && objid == "" && intimagecount == "")
            document.getElementById("divTreeListView").innerHTML = rtnstr;
    }
    function InitData() {
        $("#TxtYY").val(JGSZ_CWFYFJ.InitData().value);
    }
    function dateChange() {
        BindFA();
    }
    function BindFA() {
        var rtn = JGSZ_CWFYFJ.GetFA($("#TxtYY").val()).value;
        $("#SelFA").html(rtn);
    }
    function FAChage() {
        debugger;
        InitData();
        getlist('', '', '');
    }
    //添加
    function jsAddData() {
        $("#hidNewLine").val(JGSZ_CWFYFJ.AddData().value);
        $("#divTreeListView table").append($("#hidNewLine").val().replace('{000}', $("#divTreeListView tr").length).replace('{000}', $("#divTreeListView tr").length));
    }
//    function GetXMList(objtr, objid, intimagecount) {
//        var rtnstr = JGSZ_CWFYFJ.GetXMList(objtr, objid, intimagecount).value;
//        if (objtr == "" && objid == "" && intimagecount == "")
//            document.getElementById("XMXQ").innerHTML = rtnstr;
//        else
//            $("#" + objtr).after(rtnstr);
//        $("#XMXQ td[name$='tdXMBM']").attr("style", "text-align:left");
//    }
//    function onselects(obj) {
//        debugger;
//        //表示当前操作的是指标项目列表
//        if ($("#HidXM").val() == "-1") {
//            $("#XMXQ tr[name^='trdata']").css("backgroundColor", "");
//            var trid = obj.parentNode.parentNode.id;
//            $("tr[id=" + trid + "]").css("backgroundColor", "#33CCCC");
//            $("#HidSelectedXM").val($("#" + trid).find("td[name^='tdXMDM']").html() + "." + $("#" + trid).find("td[name^='tdXMMC']").html());
//        }
//        else {
//            var MBDM = "", XMDM = "", LX = "", JHFADM = "";
//            $("tr[name^='trdata']").css("backgroundColor", "");
//            var trid = obj.parentNode.parentNode.id;
//            $("#HidTrID").val(trid);
//            $("tr[id=" + trid + "]").css("backgroundColor", "#33CCCC");
//            //获取联合主键的值XMDM,MBDM,ZYDM,JSDX,JHFADM
//            var ZJ = $("#hidindexid").val().split(',');
//            JHFADM = $("tr[id=" + trid + "] input[name^=txt" + ZJ[0].toString() + "]").val()
//            MBDM = $("tr[id=" + trid + "] select[name^=sel" + ZJ[1].toString() + "]").val();
//            LX = $("tr[id=" + trid + "] select[name^=sel" + ZJ[2].toString() + "]").val();
//            XMDM = $("tr[id=" + trid + "] input[name^=tsel" + ZJ[3].toString() + "]").val();
//            $("#hidcheckid").val(JHFADM + "," + MBDM + "," + LX + "," + XMDM);
//        }
//    }
//    function selectvalues(obj, id) {
//        XMOBJ = obj;
//        Win(true, 0, 1);
//    }
//    //Flag=true，表示打开窗体；等于false，表示关闭窗体
//    //BZ等于1表示点击“确定”按钮；等于-1，表示点击“关闭”按钮
//    function Win(Flag, BZ) {
//        if (Flag == true) {
//            $("#HidXM").val("-1");
//            $("#WinXM").window('open');
//            GetXMList('', '', '');
//        }
//        else {
//            if (BZ == -1) {
//                $("#HidXMBZ").val("1");
//            }
//            $("#WinXM").window('close');
//        }
//    }
//    function WinXMCloseEvent() {
//        $("#WinXM").window({
//            modal: true,
//            closable: false,
//            collapsible: false,
//            minimizable: false,
//            maximizable: false,
//            onBeforeClose: function () {
//                if ($("#HidXMBZ").val() != "1") {
//                    if ($("#HidSelectedXM").val() != "") {
//                        XMOBJ.parentNode.childNodes[0].value = $("#HidSelectedXM").val();
//                        if ($("#" + XMOBJ.parentNode.parentNode.id + " img[name=readimage]")[0].href.indexOf("new.jpg") == -1) {
//                            $("#" + XMOBJ.parentNode.parentNode.id + " img[name=readimage]").attr("src", "../Images/Tree/edit.jpg");
//                        }
//                        $("#HidSelectedXM").val("");
//                        $("#HidXMBZ").val("");
//                        $("#HidXM").val("");
//                    }
//                }
//                XMOBJ = null;
//            }
//        });
//    }
//    function TreeZK(Flag) {
//        var tr = $("#XMXQ img[src$='tplus.gif']");
//        for (var i = 0; i < tr.length; ) {
//            var trid = tr[i].parentNode.parentNode.id;
//            ToExpand(tr[i], trid);
//            i = 0;
//            tr = $("#XMXQ img[src$='tplus.gif']");
//        }
//    }
//    function TreeSQ(Flag) {
//        var tr = $("#XMXQ img[src$='tminus.gif']");
//        for (var i = 0; i < tr.length; i++) {
//            var trid = tr[i].parentNode.parentNode.id;
//            var PAR = $("#" + trid).find("td[name^='tdPAR']").html();
//            if (PAR == 0) {
//                ToExpand(tr[i], trid);
//            }
//        }
//    }
//    function ToExpand(obj, id) {
//        var trs;
//        if (obj.src.indexOf("tminus.gif") > -1) {
//            obj.src = "../Images/Tree/tplus.gif";
//            trs = $("#XMXQ tr");
//            for (var i = 0; i < trs.length; i++) {
//                if (trs[i].id.indexOf(id) > -1 && trs[i].id != id) {
//                    trs[i].style.display = "none";
//                    var objimg = trs[i].childNodes[1].getElementsByTagName("img");
//                    if (objimg[objimg.length - 2].src.indexOf("tminus.gif") > -1) {
//                        objimg[objimg.length - 2].src = "../Images/Tree/tplus.gif";
//                    }
//                    else if (objimg[objimg.length - 2].src.indexOf("lminus.gif") > -1) {
//                        objimg[objimg.length - 2].src = "../Images/Tree/lplus.gif";
//                    }
//                }
//            }
//        }
//        else if (obj.src.indexOf("lminus.gif") > -1) {
//            obj.src = "../Images/Tree/lplus.gif";
//            trs = $("#XMXQ tr");
//            for (var i = 0; i < trs.length; i++) {
//                if (trs[i].id.indexOf(id) > -1 && trs[i].id != id) {
//                    trs[i].style.display = "none";
//                    var objimg = trs[i].childNodes[1].getElementsByTagName("img");
//                    if (objimg[objimg.length - 2].src.indexOf("tminus.gif") > -1) {
//                        objimg[objimg.length - 2].src = "../Images/Tree/tplus.gif";
//                    }
//                    else if (objimg[objimg.length - 2].src.indexOf("lminus.gif") > -1) {
//                        objimg[objimg.length - 2].src = "../Images/Tree/lplus.gif";
//                    }
//                }
//            }
//        }
//        else if (obj.src.indexOf("lplus.gif") > -1) {
//            obj.src = "../Images/Tree/lminus.gif";
//            trs = $("#XMXQ tr");
//            for (var i = 0; i < trs.length; i++) {
//                if (trs[i].id.indexOf(id) > -1 && trs[i].id != id && (trs[i].id.length - id.length) < 50) {
//                    trs[i].style.display = "";
//                }
//            }
//        }
//        else if (obj.src.indexOf("tplus.gif") > -1) {
//            obj.src = "../Images/Tree/tminus.gif";
//            trs = $("#XMXQ tr");
//            var istoload = true;
//            for (var i = 0; i < trs.length; i++) {
//                if (trs[i].id.indexOf(id) > -1 && trs[i].id != id && (trs[i].id.length - id.length) < 50) {
//                    trs[i].style.display = "";
//                    istoload = false;
//                }
//            }
//            if (istoload == true) {
//                GetXMList(id, $("tr[id=" + id + "] td[name$='tdXMDM']").html(), $("tr[id=" + id + "] img[src$='white.gif']").length.toString());
//                trs = $("#XMXQ tr");
//                for (var i = 0; i < trs.length; i++) {
//                    if (trs[i].id.indexOf(id) > -1 && trs[i].id != id && (trs[i].id.length - id.length) < 50) {
//                        trs[i].style.display = "";
//                    }
//                }
//            }
//        }
//    }
    //修改数据
    function jsUpdateData(objid, objfileds, objvalues) {
        var rtn = JGSZ_CWFYFJ.UpdateData(objid, objfileds, objvalues, $("#SelFA").val(), $("#TxtYY").val()).value;
        if (rtn != "") {
            if (rtn.length > 1) {
                alert(rtn.substring(1));
            }
        }
        else {
            alert("保存成功！");
        }
    }
    function Del() {
        if ($("#hidcheckid").val() != "")
            $("tr td[name^=td" + $("#hidindexid").val() + "]").each(function () {
                if ($(this).html() == $("#hidcheckid").val()) {
                    $("#" + $(this).parent()[0].id + " img[name=readimage]").attr("src", "../Images/Tree/delete.gif");
                }
            });
    }
    //删除数据
    function jsDeleteData(obj) {
        debugger;
        var rtn = JGSZ_CWFYFJ.DeleteData(obj).value;
        if (rtn != "")
            alert('删除成功！');
    }
</script>
</asp:Content>
