﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="CWYS_FASZXZ.aspx.cs" Inherits="CWYS_CWYS_FASZXZ" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <link href="../CSS/demo.css" rel="stylesheet" type="text/css" />
    <link href="../CSS/easyui.css" rel="stylesheet" type="text/css" />
    <link href="../CSS/icon.css" rel="stylesheet" type="text/css" />
    <link href="../CSS/style.css" rel="stylesheet" type="text/css" />
    <link href="../CSS/style1.css" rel="stylesheet" type="text/css" />
    <script src="../JS/jquery.min.js" type="text/javascript"></script>
    <script src="../JS/jquery.easyui.min.js" type="text/javascript"></script>
    <script src="../JS/mainScript.js" type="text/javascript"></script>
    <script src="../JS/jquery-1.3.1.min.js" type="text/javascript"></script>
    <title></title>
</head>
<body>
     <div id="tt" class="easyui-tabs" fit="true">
         <div id="divCbfy" title="计划年方案" style="padding:5px">
            <iframe  id="yy" name="ifr" style="width:100%; height: 100%;" frameborder="0";  marginheight="0" marginwidth="0"></iframe>
	    </div>
	    <div id="divJg" title="计划季方案" style="padding:5px;">
            <iframe  id="jd" name="ifr" style="width:100%; height: 100%;" frameborder="0"; marginheight="0" marginwidth="0"></iframe>
	    </div>
        <div id="div1" title="计划月方案" style="padding:5px;">
            <iframe  id="nn" name="ifr" style="width:100%; height: 100%;" frameborder="0"; marginheight="0" marginwidth="0"></iframe>
	    </div>    
        <div id="div2" title="计划其他方案" style="padding:5px;">
            <iframe  id="qt" name="ifr" style="width:100%; height: 100%;" frameborder="0"; marginheight="0" marginwidth="0"></iframe>
	    </div>           
	</div>
        <input type="hidden" runat="server" id="hidloginout" />
    <script type="text/javascript">
//        function myBrowser() {
//            var userAgent = navigator.userAgent; //取得浏览器的userAgent字符串
//            var isOpera = userAgent.indexOf("Opera") > -1; //判断是否Opera浏览器
//            var isIE = userAgent.indexOf("compatible") > -1 && userAgent.indexOf("MSIE") > -1 && !isOpera; //判断是否IE浏览器
//            var isFF = userAgent.indexOf("Firefox") > -1; //判断是否Firefox浏览器
//            var isSafari = userAgent.indexOf("Safari") > -1; //判断是否Safari浏览器
//            var isChrome = userAgent.indexOf("Chrome") > -1; //判断是否Chrome浏览器
//            if (isIE) {
//                var IE5 = IE55 = IE6 = IE7 = IE8 = false;
//                var reIE = new RegExp("MSIE (\\d+\\.\\d+);");
//                reIE.test(userAgent);
//                var fIEVersion = parseFloat(RegExp["$1"]);
//                IE55 = fIEVersion == 5.5;
//                IE6 = fIEVersion == 6.0;
//                IE7 = fIEVersion == 7.0;
//                IE8 = fIEVersion == 8.0;
//                if (IE55) {
//                    return "IE55";
//                }
//                if (IE6) {
//                    return "IE6";
//                }
//                if (IE7) {
//                    return "IE7";
//                }
//                if (IE8) {
//                    return "IE8";
//                }
//            } //isIE end
//            if (isFF) {
//                return "FF";
//            }
//            if (isOpera) {
//                return "Opera";
//            }
//            if (isChrome) {
//                return "Chrome";
//            }
//        } //myBrowser() end
//        //以下是调用上面的函数
//        if (myBrowser() == "FF") {
//            alert("我是 Firefox");
//        }
//        if (myBrowser() == "Opera") {
//            alert("我是 Opera");
//        }
//        if (myBrowser() == "Safari") {
//            alert("我是 Safari");
//        }
//        if (myBrowser() == "IE6") {
//            IE();
//        }
//        if (myBrowser() == "IE7") {
//            IE();
//        }
//        if (myBrowser() == "IE8") {
//            IE();
//        }
//        if (myBrowser() == "Chrome") {
//            Chrome();
//        }
//        function Chrome() {
//            if ($("#<%=hidloginout.ClientID %>").val() == "Out") {
//                window.parent.parent.location = "<%=Request.ApplicationPath%>/Login.aspx?rnd=" + Math.random();
//            }
//            function GetExcelList() {
//                $("#yy").attr("src", "CWYS_YY.aspx?lx=0");
//                $("#jd").attr("src", "CWYS_JD.aspx?lx=1");
//                $("#nn").attr("src", "CWYS_NN.aspx?lx=2");
//                $("#qt").attr("src", "CWYS_QT.aspx");
//            }
//            $(document).ready(function () {
//                GetExcelList();
//                var hg = document.documentElement.clientHeight;
//                $("#tt")[0].height = hg - 5;
//            });
//        }
//        function IE() {
//            if ($("#<%=hidloginout.ClientID %>").val() == "Out") {
//                window.parent.parent.location = "<%=Request.ApplicationPath%>/Login.aspx?rnd=" + Math.random();
//            }
//            function GetExcelList() {
//                $("#yy").attr("src", "CWYS_YY.aspx?lx=0");
//                $("#jd").attr("src", "CWYS_JD.aspx?lx=1");
//                $("#nn").attr("src", "CWYS_NN.aspx?lx=2");
//                $("#qt").attr("src", "CWYS_QT.aspx");
//            }
//            $(document).ready(function () {
//                GetExcelList();
//                var hg = document.documentElement.clientHeight;
//                $("#tt")[0].style.height = hg - 5;
//            });
        //        } 
 if ($("#<%=hidloginout.ClientID %>").val() == "Out") {
                window.parent.parent.location = "<%=Request.ApplicationPath%>/Login.aspx?rnd=" + Math.random();
            }
            function GetExcelList() {
                $("#yy").attr("src", "CWYS_YY.aspx?lx=0");
                $("#jd").attr("src", "CWYS_JD.aspx?lx=1");
                $("#nn").attr("src", "CWYS_NN.aspx?lx=2");
                $("#qt").attr("src", "CWYS_QT.aspx");
            }
            $(document).ready(function () {
                GetExcelList();
                var hg = document.documentElement.clientHeight;
                $("#tt")[0].style.height = hg - 5;
            });
 </script>
</body>
</html>


