/*-----common css start-----*/
.gc-theme-version {
    position: absolute;
    z-index: 2013;
}
.gc-grayArea {
    background-color: #f1f1f1;
}
.gc-corner-hover {
    background-color: #f1f1f1;
}
.gc-corner-selected {
    background-color: #f1f1f1;
}
.gc-corner-normal {
    background-color: #f1f1f1;
}
.gc-corner-triangle-normal {
    background-color: #c6c6c6;
    background-image: -webkit-linear-gradient(top, #c6c6c6, #c6c6c6); /* For Chrome and Safari */
    background-image:    -moz-linear-gradient(top, #c6c6c6, #c6c6c6); /* For old Fx (3.6 to 15) */
    background-image:     -ms-linear-gradient(top, #c6c6c6, #c6c6c6); /* For pre-releases of IE 10*/
    background-image:      -o-linear-gradient(top, #c6c6c6, #c6c6c6); /* For old Opera (11.1 to 12.0) */
    background-image:         linear-gradient(to bottom, #c6c6c6, #c6c6c6); /* Standard syntax; must be last */
    border-style:solid;
    border-left-color: #dbdbdb !important;
    border-right-color: #b7b7b7 !important;
    border-top-color: #dbdbdb !important;
    border-bottom-color: #b7b7b7 !important;
}
.gc-corner-triangle-hover {
    background-color: #9e9e9e;
    background-image: -webkit-linear-gradient(top, #9e9e9e, #9e9e9e); /* For Chrome and Safari */
    background-image:    -moz-linear-gradient(top, #9e9e9e, #9e9e9e); /* For old Fx (3.6 to 15) */
    background-image:     -ms-linear-gradient(top, #9e9e9e, #9e9e9e); /* For pre-releases of IE 10*/
    background-image:      -o-linear-gradient(top, #9e9e9e, #9e9e9e); /* For old Opera (11.1 to 12.0) */
    background-image:         linear-gradient(to bottom, #9e9e9e, #9e9e9e); /* Standard syntax; must be last */
    border-style:solid;
    border-left-color: #dbdbdb !important;
    border-right-color: #b7b7b7 !important;
    border-top-color: #dbdbdb !important;
    border-bottom-color: #b7b7b7 !important;
}
.gc-corner-triangle-selected {
    background-color: #217346;
    background-image: -webkit-linear-gradient(top, #217346, #217346); /* For Chrome and Safari */
    background-image:    -moz-linear-gradient(top, #217346, #217346); /* For old Fx (3.6 to 15) */
    background-image:     -ms-linear-gradient(top, #217346, #217346); /* For pre-releases of IE 10*/
    background-image:      -o-linear-gradient(top, #217346, #217346); /* For old Opera (11.1 to 12.0) */
    background-image:         linear-gradient(to bottom, #217346, #217346); /* Standard syntax; must be last */
    border-style:solid;
    border-left-color: #dbdbdb !important;
    border-right-color: #b7b7b7 !important;
    border-top-color: #dbdbdb !important;
    border-bottom-color: #b7b7b7 !important;
}
.gc-columnHeader-normal {
    color: #262626;
    background-image: none;
    background-color: #f1f1f1;
    border-style:solid;
    border-left-color: #dbdbdb !important;
    border-right-color: #b7b7b7 !important;
    border-bottom-color: #ababab !important;
}
.gc-columnHeader-hover {
    color: #262626;
    background-image: none;
    background-color: #9fd5b7;
    border-style:solid;
    border-left-color: #dbdbdb !important;
    border-right-color: #b7b7b7 !important;
    border-bottom-color: #ababab !important;
}
.gc-columnHeader-selected {
    color: #217346;
    background-image: none;
    background-color: #d3f0e0;
    border-style:solid;
    border-left-color: #dbdbdb !important;
    border-right-color: #b7b7b7 !important;
    border-bottom-color: #ababab !important;
}
.gc-columnHeader-highlight {
    color: #217346;
    background-image: none;
    background-color: #d4d4d4;
    border-style:solid;
    border-left-color: #dbdbdb !important;
    border-right-color: #b7b7b7 !important;
    border-bottom-color: #ababab !important;
}
.gc-rowHeader-normal {
    color: #262626;
    background-color: #f1f1f1;
    background-image: none;
    border-style:solid;
    border-top-color: #dbdbdb !important;
    border-bottom-color: #b7b7b7 !important;
    border-right-color: #ababab !important;
}
.gc-rowHeader-hover {
    color: #262626;
    background-color: #9fd5b7;
    background-image: none;
    border-style:solid;
    border-top-color: #dbdbdb !important;
    border-bottom-color: #b7b7b7 !important;
    border-right-color: #ababab !important;
}
.gc-rowHeader-selected {
    color: #217346;
    background-color: #d3f0e0;
    background-image: none;
    border-style:solid;
    border-top-color: #dbdbdb !important;
    border-bottom-color: #b7b7b7 !important;
    border-right-color: #ababab !important;
}
.gc-rowHeader-highlight {
    color: #217346;
    background-color: #d4d4d4;
    background-image: none;
    border-style:solid;
    border-top-color: #dbdbdb !important;
    border-bottom-color: #b7b7b7 !important;
    border-right-color: #ababab !important;
}
.gc-horizontal-scrollbar {
    box-sizing:content-box;
    background: #f1f1f1;
    border-top: 1px solid #ababab;
    height: 18px;
    padding: 4px 0px 5px 0px;
    margin: 0;
}
.gc-vertical-scrollbar {
    box-sizing:content-box;
    background: #f1f1f1;
    border-left: 1px solid #ababab;
    width: 18px;
    padding: 0px 5px 0px 4px;
    margin: 0;
}
.gc-footer-corner {
    background-color: #f1f1f1;
}
.gc-selection {
    background-color: rgba(20, 20, 20, 0.2);
    border-color: #217346;
    color: rgba(240,240,240,0.7);
}
.gc-drag-indicator {
    border-color: #217346;
}
.gc-gridlineColor {
    border-color: #d4d4d4;
}
.gc-group {
    background-color:#f1f1f1;
    color: #ababab;
}
.gc-group-box {
    background-color:#f1f1f1;
    color: #606060;
    border-color: #828790;
}

.gc-tabStripNewTab-highlight {
    border-color: #5e5e5e;
}
.gc-tabStripNewTab-hover {
    border-color: #439467;
}
.gc-tabStripBackground {
    background-image: -webkit-linear-gradient(top, #f1f1f1, #f1f1f1); /* For Chrome and Safari */
    background-image:    -moz-linear-gradient(top, #f1f1f1, #f1f1f1); /* For old Fx (3.6 to 15) */
    background-image:     -ms-linear-gradient(top, #f1f1f1, #f1f1f1); /* For pre-releases of IE 10*/
    background-image:      -o-linear-gradient(top, #f1f1f1, #f1f1f1); /* For old Opera (11.1 to 12.0) */
    background-image:         linear-gradient(to bottom, #f1f1f1, #f1f1f1); /* Standard syntax; must be last */
    background-color: #f1f1f1;
    border-color: #ababab;
}
.gc-tabStripResizeBarInner {
    color: #5e5e5e;
}
.gc-navMoreButton-highlight {
    border-color: #5e5e5e;
}
.gc-navMoreButton-hover {
    border-color: #439467;
}
.gc-navButton-hover {
    border-color: #439467;
}
.gc-navButton-highlight {
    border-color: #005a2b;
}
.gc-navButton-normal {
    border-color: #ababab;
}
.gc-tab-normal {
    color: #444444;
    background-image: none;
    background-color: transparent;
    border-style: solid;
    border-left-color: #ababab;
    border-bottom-color: #217346;
}
.gc-tab-hover {
    color: #252627;
    background-image: none;
    background-color: transparent;
    border-style: solid;
    border-left-color: #ababab;
    border-bottom-color: #217346;
}
.gc-tab-active {
    color: #217346;
    background-image: none;
    background-color: white;
    border-style: solid;
    border-left-color: #ababab;
    border-bottom-color: #217346;
}

.gc-rowHeaderFill {
    background-color: #e4ecf7;
}
.gc-colHeaderFill {
    background-image: -webkit-linear-gradient(top, #F6FAFB 12.5%, #D2DBEB); /* For Chrome and Safari */
    background-image:    -moz-linear-gradient(top, #F6FAFB 12.5%, #D2DBEB); /* For old Fx (3.6 to 15) */
    background-image:     -ms-linear-gradient(top, #F6FAFB 12.5%, #D2DBEB); /* For pre-releases of IE 10*/
    background-image:      -o-linear-gradient(top, #F6FAFB 12.5%, #D2DBEB); /* For old Opera (11.1 to 12.0) */
    background-image:         linear-gradient(to bottom, #F6FAFB 12.5%, #D2DBEB); /* Standard syntax; must be last */
    background-color: #D2DBEB;
}

.gc-gradientButton {
    background-color: #DDDDDD; /* fallback color if gradients are not supported */
    background-image: -webkit-linear-gradient(top, #F6FAFB, #D2DBEB); /* For Chrome and Safari */
    background-image:    -moz-linear-gradient(top, #F6FAFB, #D2DBEB); /* For old Fx (3.6 to 15) */
    background-image:     -ms-linear-gradient(top, #F6FAFB, #D2DBEB); /* For pre-releases of IE 10*/
    background-image:      -o-linear-gradient(top, #F6FAFB, #D2DBEB); /* For old Opera (11.1 to 12.0) */
    background-image:         linear-gradient(to bottom, #F6FAFB, #D2DBEB); /* Standard syntax; must be last */
}

.gc-sheetTabEditor::-ms-clear {
    display: none;
}


.gc-layout-table {
    font-size:12px;
    width:100%;
    height:100%;
    font-family:Lucida Grande, Lucida Sans, Arial, sans-serif;
}

.gc-layout-table-first-column {
    width:21px;
    border-right:1px solid #CCC;
    text-align:right;
    padding-top:7px;
}

.gc-layout-table-last-column {
    width:18px;
}

.gc-filter-sort-desc-container {
    border-bottom:1px solid #CCC;
}

.gc-filter-item-wrapper {
}


.gc-filter-dialog-style {
    background:#fcfdfd;
    font-family:Lucida Grande, Lucida Sans, Arial, sans-serif;
    font-size:12px;
    border:1px solid #a7abb0;
}

.gc-search-outer-div {
    border: none;
    margin:4px 0px 0px 4px;
    background-color: white;
    background-image: none;
    color:#1e395b;
    font-weight:normal;
}

div.gc-search-outer-div input::-ms-clear{
   display:none;
}

#gc-filterSearch {
    width:165px;
    height:21px;
    border:1px solid #ababab;
    margin-left:7px;
    margin-top:4px;
    margin-bottom: 0px;
    padding: 0;
    font-size: 1em;
    background-color:white;
    color:black;
    float:none;
}
#gc-filterSearch:hover,
#gc-filterSearch:active{
    background-color:white;
}

.gc-check-uncheck-all {
    float:left;
    width:16px;
    height:16px;
    display:inline-block;
}
.gc-filter-check-outerDiv .gc-check-image,
.gc-fill-type-item .gc-check-image {
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjExR/NCNwAAAGxJREFUOE+ljsENgDAMAzsaQ3QMxP4/wAhXwTKhEY9TlZOdtK1b/4WVFaysYGUFKxMWdY/hA5T3+x0+BjJYJmOJBoF+87UMYhAwzFBaBnFwYZ1j/kKFltIycHLqMrHyhEvSMrCygpUVrJyntwPdKU02VXQw7gAAAABJRU5ErkJggg==);
}
.gc-filter-check-outerDiv .gc-uncheck-image,
.gc-fill-type-item .gc-uncheck-image {
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjExR/NCNwAAAIJJREFUOE+lkssNgDAMQzsCw3UMxEocGKWDQSLVUj5GJeLwhPyI0x7a9qP/gsoKVFagskIUm3ALp3GKZvX63/q0QIcAlqAMXMcFIQ6z7DouTGLptawkMVmeDJi8BFsGQ0jzUcRyvEla4oLAhvVrveu4IOAdxJOwZPkOylBZgcrv9PYAV9tkcyJlS4sAAAAASUVORK5CYII=);
}
.gc-check-image,
.gc-uncheck-image {
    background-position:center;
}

.gc-filter-check-outerDiv {
    height:18px;
    margin-top:4px;
}

a.gc-filter-check-style {
    color:#1e395b;
    text-shadow:none;
}

a.gc-filter-check {
    text-decoration: none;
}

a.gc-filter-check:hover {
    text-decoration:underline;
}
#gc-sortASC:hover,
#gc-sortASC:active {
    border-color: #e3e3e3;
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none;  
}
.gc-filter-sort {
    border:1px solid transparent;
    font-weight:normal;
    color:#222222;
}

.gc-filter-hover {
    border-radius: 0px;
    outline:none;
}

.gc-filter-item {
    position: relative;
    cursor: default;
    font-weight:normal;
    border-style: solid;
    border-color: transparent;
}

.gc-filter-item-container {
    border:1px solid #a7abb0;
    border-radius:3px;
    margin:4px 0px 4px 4px;
    overflow:hidden;
}

.gc-filter-item-input {
    float: left;
    clear: left;
}

.gc-filter-item-text {
    font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;
    font-size: 12px;
    margin: 2px;
    white-space:nowrap;
    word-wrap:normal;
    float: left;
    clear: right;
}

.gc-filter-button {
    width:90px;
    height:27px;
    margin:2px 1px 5px;
}

.gc-filter-button-disable {
    opacity:.35;
    background-image:none;
}

#gc-filterOK {
    margin-left:13px;
    margin-bottom:5px;
    float:left;
}
#gc-filterCancel {
    margin-bottom:5px;
    float:left;
}

.gc-filter-button-default {
    border:1px solid #acacac;
    border-radius: 0;
    background-image: -webkit-linear-gradient(top, #f0f0f0, #e5e5e5); /* For Chrome and Safari */
    background-image:    -moz-linear-gradient(top, #f0f0f0, #e5e5e5); /* For old Fx (3.6 to 15) */
    background-image:     -ms-linear-gradient(top, #f0f0f0, #e5e5e5); /* For pre-releases of IE 10*/
    background-image:      -o-linear-gradient(top, #f0f0f0, #e5e5e5); /* For old Opera (11.1 to 12.0) */
    background-image:         linear-gradient(to bottom, #f0f0f0, #e5e5e5); /* Standard syntax; must be last */
    font-weight:normal;
    color: black;
}

.gc-filter-button-hover {
    border:1px solid #7eb4ea;
    border-radius: 0;
    background-color: #d3f0e0;
    background-image: -webkit-linear-gradient(top, #ecf4fc, #dcecfc); /* For Chrome and Safari */
    background-image:    -moz-linear-gradient(top, #ecf4fc, #dcecfc); /* For old Fx (3.6 to 15) */
    background-image:     -ms-linear-gradient(top, #ecf4fc, #dcecfc); /* For pre-releases of IE 10*/
    background-image:      -o-linear-gradient(top, #ecf4fc, #dcecfc); /* For old Opera (11.1 to 12.0) */
    background-image:         linear-gradient(to bottom, #ecf4fc, #dcecfc); /* Standard syntax; must be last */
    color: black;
    font-weight:normal;
    text-shadow:none;
    cursor:pointer;
}

.gc-filter-button-active {
    border:1px solid #569de5;
    border-radius: 0;
    background-color: #ffe475;
    background-image: -webkit-linear-gradient(top, #daecfc, #c4e0fc); /* For Chrome and Safari */
    background-image:    -moz-linear-gradient(top, #daecfc, #c4e0fc); /* For old Fx (3.6 to 15) */
    background-image:     -ms-linear-gradient(top, #daecfc, #c4e0fc); /* For pre-releases of IE 10*/
    background-image:      -o-linear-gradient(top, #daecfc, #c4e0fc); /* For old Opera (11.1 to 12.0) */
    background-image:         linear-gradient(to bottom, #daecfc, #c4e0fc); /* Standard syntax; must be last */
    font-weight:normal;
    color: black;
    -webkit-box-shadow: none;
          box-shadow: none;
}

.gc-filter-item-hover {
    border:1px solid transparent;
    background-color: #d3f0e0;
    background-image: none;
    color:#1d5987;
    font-weight:normal;
    text-shadow:none;
}

.gc-smartMenu-item-default {
    border:1px solid transparent;
    background-color: white;
    background-image: none;
    font-weight:normal;
    color:#1e395b;
    border-radius:0;
}

.gc-smartMenu-item-hover {
    border:1px solid #86bfa0;
    background-color: #d3f0e0;
    background-image: none;
    color:#1d5987;
    font-weight:normal;
    text-shadow:none;
}

.gc-smart-tag-default {
    border:1px solid #ababab;
    background: white;
    color:#1e395b;
    font-weight:normal;
    border-radius:0;
}

.gc-smart-tag-hover {
    border:1px solid #9fd5b7;
    background-color: white;
    background-image: none;
    color:#1d5987;
    font-weight:normal;
    text-shadow:none;
}

.gc-smart-tag-active {
    border:1px solid #9fd5b7;
    background-color:#9fd5b7;
    background-image: none;
    font-weight:normal;
    color:#262626;
    -webkit-box-shadow: none;
          box-shadow: none;
}


.gc-menu-item-input {
    width:16px;
    height:16px;
    margin:1px;
    float:left;
    display:inline-block;
}
.gc-menu-item-text {
    font-size:12px;
    font-weight:normal;
    display:inline-block;
    float:left;
    padding-top:2px;
    font-family:Arial;
}
.gc-fill-menu-container {
    box-shadow:rgba(0,0,0,0.4) 1px 2px 5px;
    cursor:default;
}

.gc-toolstrip-default {
    background: white;
    border:1px solid #c6c6c6;
}
.gc-toolstrip-button-style:active,
.gc-toolstrip-button-style {
    color: black;
    background:white;
    -webkit-box-shadow: none;
          box-shadow: none;
}

.gc-tab-tip-span{
     background:#D6E6F9;
     color:black;
     border:1px solid #D6E6F9;
     font-weight:normal;
}

.gc-spread-toolTip {
    border: 1px solid #bebebe;
    border-radius: 0px;
    background-color: white;    background-image: none;
    font-weight: normal;
    color: #217346;
}

.gc-no-user-select {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/*-----common css end-----*/

/*-----formula textbox start-----*/
/* function autocomplete */
.gcsj-func-ac-popup {
	margin: 0;
	padding: 0;
    background: #fff;
	border: 1px solid rgba(0,0,0,0.2);
	font-family: arial,sans-serif;
	font-size: 12px;
	line-height: 22px;
	position: absolute;
	width: 300px;
	z-index: 2001;

	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.gcsj-func-ac-row {
    margin: 0;
    cursor: default;
    padding: 2px 10px;
    color: #666666;
}

.gcsj-func-ac-row-name {
     color: #222;
     font-size: 13px;
     font-family: inconsolata,monospace,arial,sans,sans-serif;
     margin: -2px 0;
}

.gcsj-func-ac-row-description {
    color: #666;
    display: none;
    font-size: 11px;
    margin: -2px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.gcsj-ac-row-active {
	background-color: #f5f5f5;
	color: #000;
	border-top: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
	padding: 1px 10px
}

.gcsj-ac-row-active .gcsj-func-ac-row-description {
    display:block;
}

/*  function help */
.gcsj-func-help-popup {
    background-color:#fff;
    border: 1px solid rgba(0,0,0,0.2);
    color: #222;
    font-size: 11px;
    word-wrap: break-word;
    position: absolute;
    width: 320px;
    z-index: 2001;

    -webkit-box-shadow:0 2px 4px rgba(0,0,0,0.2);
	-moz-box-shadow:0 2px 4px rgba(0,0,0,0.2);
	box-shadow:0 2px 4px rgba(0,0,0,0.2);
}

.gcsj-func-help-title {
    background-color: #f5f5f5;
    color: #222;
    font-size: 13px;
    padding: 1px 0 1px 10px;
}

.gcsj-func-help-body {
    border-top: 1px solid #ebebeb;
    font-family: arial, sans-serif;
    overflow: hidden;
}

.gcsj-func-help-content {
    padding-bottom: 2px;
}

.gcsj-func-help-section {
    padding: 5px 10px;
}

.gcsj-func-help-section-title {
    font-size: 11px;
    color: #666;
}

.gcsj-func-help-section-content {
    font-size: 11px;
}

.gcsj-func-help-formula {
    font-family: inconsolata,monospace,arial,sans,sans-serif;
    padding: 1px 0;
}

.gcsj-func-help-formula-name {
}

.gcsj-func-help-paramter {
    padding-left:1px;
}

.gcsj-func-help-paramter-paren {
}

.gcsj-func-help-paramter-active {
    background-color: #feb;
}

/* color text */
.gcsj-func-color-content {
    white-space: pre-wrap;
}
/*-----formula textbox end-----*/

/*-----floatingobject start-----*/
.gc-floatingobject-selected{
    border:1px solid #939393;
}

.gc-floatingobject-unselected{
    background-color: transparent;
    border:1px solid transparent;
}

.gc-floatingobject-container{
    position: absolute;
    overflow: hidden;
    box-sizing:content-box;
}

.gc-floatingobject-background-cover{
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
}

.gc-floatingobject-moving-container{
    position: absolute;
    overflow: hidden;
}

.gc-floatingobject-moving-div{
    position: absolute;
    border:1px solid black;
}
.gc-floatingobject-resize-indicator {
    box-sizing:content-box;
}

.gc-floatingobject-resize-indicator-select{
    background-color:white;
    border-radius:2px;
    -moz-border-radius:1px;
    border:1px solid #939393;
    z-index:100;
}

.gc-floatingobject-resize-indicator-unSelect{
    display: none;
}

.gc-floatingobject-absolute{
    position: absolute;
}

.gc-floatingobject-content-container {
    box-sizing:content-box;
}
/*-----floatingobject end-----*/

/*-----scrollbar start-----*/
/*scrollbar*/
.gc-scroll-container{
    background-color: #d9d9d9;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.gc-scroll-corner-all {
    border-radius: 2px;
}
.gc-scroll-arrow{
    background-color: white;
    border-style:solid;
    border-color: #ababab;
    background-image: none;
    border-radius: 0;
}

.gc-scroll-arrow .gc-scroll-arrowUp{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjExR/NCNwAAAClJREFUKFNjGEmgvLz8P5RJHABpgGGoEH6ArIEojdg0wDBUyShAAAYGAHSXJkH1wN/VAAAAAElFTkSuQmCC);
    
}
.gc-scroll-arrowUp {
    background-position: center;
}

.gc-scroll-arrow .gc-scroll-arrowDown {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjExR/NCNwAAACRJREFUKFNjGAVYQHl5+X9cGKoEOyBZAwyQrAEGSNYwpAEDAwBvhSZBmzrLGgAAAABJRU5ErkJggg==);
}
.gc-scroll-arrowDown {
    background-position: center;
}

.gc-scroll-arrow .gc-scroll-arrowLeft{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjExR/NCNwAAADBJREFUKFNjGMKgvLz8P5RJHABpIEkTTAPRmpA1EK0JBMjSBAJkaQIBsjQNNGBgAABe7iZBxoz5vwAAAABJRU5ErkJggg==);
}
.gc-scroll-arrowLeft {
    background-position: center;
}

.gc-scroll-arrow .gc-scroll-arrowRight{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjExR/NCNwAAAC5JREFUKFNjGIKgvLz8P5RJPABpIlkjTBNJGpE1Ea2RZA0gQLIGECBZw2ACDAwAhS4mQZAuqGcAAAAASUVORK5CYII=);
}
.gc-scroll-arrowRight {
    background-position: center;
}

.gc-scroll-bar .gc-scrollbar-vertical {
    background-image: none;
    background-repeat: no-repeat;
}
.gc-scrollbar-vertical {
    background-position: center;
}

.gc-scroll-bar .gc-scrollbar-horizontal {
    text-indent: 0;
    background-image: none;
    background-repeat: no-repeat;
}
.gc-scrollbar-horizontal {
    background-position: center;
}

.gc-scrollbar-wrapper {
    background-color: transparent;
}

.gc-scroll-bar {
    border-style:solid;
    border-color:#ababab;
    background:  white;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
.gc-scroll-arrow-hover {
    border-style:solid;
    border-color:#777777;
    background: white;
}
.gc-scrollbar-stateHover {
    border-style:solid;
    border-color:#777777;
    background: white;
}

.gc-scroll-arrow:active,
.gc-scroll-bar:active,
.gc-scrollbar-stateActive {
    border-style:solid;
    border-color:#777777;
    background: #e1e1e1;
    -webkit-box-shadow: none;
          box-shadow: none;
}
/*-----scrollbar end-----*/

