﻿.divAlert
{
    width: 300px;
    border: 2px solid #37B6D1;
    font-weight: bold;
    font-size: 12px;
    left: 364px;
    top: 109px;
}
.divAlert_Title
{
    line-height: 25px;
    padding: 0px 5px;
    background-color: #37B6D1;
}
.divAlert_Content
{
    background-color: #fff;
    line-height: 80px;
    text-align: center;
}
.divAlert_Btn
{
    text-align: center;
    padding: 0px 0px 20px;
    background-color: #fff;
}
.btnSure
{
    border: 1px solid #CCC;
    background-color: #CCC;
    width: 50px;
    height: 25px;
}