﻿<%@ page title="" language="C#" masterpagefile="~/MasterPage.master" autoeventwireup="true" inherits="MBSZ_JSBMQX_MB, App_Web_mzjmb31c" %>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder2" Runat="Server">
<div style="text-align:center;margin-top:5px">模板名称</div>
   
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder3" Runat="Server">
    <div style="width: 300px;height:100%" id="TreeVie">
        <asp:TreeView runat="server" ID="TreeView1">
        </asp:TreeView>
    </div>

</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="ContentPlaceHolder4" Runat="Server">
    <script type="text/javascript">
        function BBCD1(text, mbdm) {
            var objs = document.getElementById("TreeVie").getElementsByTagName("a");
            $("#TreeVie a").css('fontWeight', '');
            for (var i = 0; i < objs.length; i++) {
                if (objs[i].innerText == text) {
                    objs[i].style.fontWeight = "bold";
                }
            }
            window.parent.BBCD(text, mbdm);
        }
  
    </script>
</asp:Content>

