﻿<%@ page language="C#" autoeventwireup="true" masterpagefile="~/MasterPage.master" inherits="MBSZ_JSMBQX, App_Web_mzjmb31c" %>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder2" Runat="Server">
  
模板类型：<select id="SelMBLX" onchange="MBLXChage()" style="width:150px;"  ></select>&nbsp;&nbsp;
模板周期：<select id="SelMBZQ" onchange="MBZQChage()" style="width:150px;"></select>&nbsp;&nbsp;
模版名称：<input id="TxtMKM" style="width: 120px" type="text" />&nbsp;&nbsp;
 <input id="Button11" class="button5"  type="button" value="查询"  onclick="FHSYJ()"/>&nbsp;
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder3" Runat="Server">   
    <table style="height:98%;border: solid 1px #9ACB34; border-collapse:collapse">
    <tr>
      <td style=" height:100%;border: solid 1px #9ACB34; width:300px">
         <div style=" width:300px;height:100%"><iframe  id="Iframe1" name="ifr" style="height:100%;" frameborder="0"; marginheight="0" marginwidth="0"></iframe></div>
      </td>
       <td style="height:100%;width:100%; border: solid 1px #9ACB34;">
            <div style="height:100%; width:100%;overflow:visible " id="div3">
            <iframe  id="ifr12" name="ifr" style="width: 100%; height:100%;"frameborder="0"; marginheight="0" marginwidth="0"></iframe>
            </div>
       </td>
    </tr>
  </table> 
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="ContentPlaceHolder4" Runat="Server">
<input type="hidden" id="USERDM" runat ="server" />
<script type="text/javascript">
    $(document).ready(function () {
        MBZQChage();
        BindMBLX();
        BindMBZQ();
    });
    function MBZQChage() {
        $("#Iframe1").attr("src", "JSBMQX_MB.aspx?mc=" + $("#TxtMKM").val() + "&zq=" + $("#SelMBZQ").val() + "&lx=" + $("#SelMBLX").val() + "");
        //document.location = "JSMBQX.aspx?MBZQ=" + $("#SelMBZQ").val() + "&rnd=" + Math.random();
    }
    function MBLXChage() {
        //document.location = "JSMBQX.aspx?MBLX=" + $("#SelMBLX").val() + "&rnd=" + Math.random();
        $("#Iframe1").attr("src", "JSBMQX_MB.aspx?mc=" + $("#TxtMKM").val() + "&zq=" + $("#SelMBZQ").val() + "&lx=" + $("#SelMBLX").val() + "");
    }
    function BindMBLX() {
        var rtn = MBSZ_JSMBQX.GetMBLX().value;
        $("#SelMBLX").html(rtn);
    }
    function BindMBZQ() {
        var rtn = MBSZ_JSMBQX.GetMBZQ().value;
        $("#SelMBZQ").html(rtn);
    }
    function FHSYJ() {
        $("#Iframe1").attr("src", "JSBMQX_MB.aspx?mc=" + $("#TxtMKM").val() + "&zq=" + $("#SelMBZQ").val() + "&lx=" + $("#SelMBLX").val() + "");
    }
    function BBCD(text, mbdm) {
        $("#ifr12").attr("src", "MBQX.aspx?MBDM=" + mbdm + "");
    }
</script>
</asp:Content>