﻿<%@ page language="C#" masterpagefile="~/MasterPage.master" autoeventwireup="true" inherits="JGSZ_BMTB_JGSZ, App_Web_0nv0levw" %>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder2" Runat="Server">
      <table id="tbbutton">
       <tr>
        <td><input type="button" class="button5"  value="刷新" onclick ="getlist('', '', '')" /></td>
        <td><input class="button5" onclick="jsAddData()" type="button" value="添加" />  </td>
        <td><input type="button" class="button5" value="删除" onclick="Del()" /></td>
        <td><input type="button" class="button5" value="取消删除" onclick="Cdel()" /></td>
        <td><input id="Button11" class="button5"  type="button" value="保存"  onclick="SetValues()" /></td>
       </tr>
     </table>
     
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder3" Runat="Server">
 <div id="divTreeListView"></div>
 </div>
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="ContentPlaceHolder4" Runat="Server">
<input type="hidden" id="hidindexid" value="ID" />
<input type="hidden"   id="hidcheckid" />
<input type="hidden" id="hidNewLine" />   
<input type="hidden" id="hide_FBDM" runat="server" /> 
<input type="hidden" id="hide_ccjb" runat="server" /> 
<input type="hidden" id="HidMC" runat="server" /> 
<input  type="hidden" id="HidTrID"/>
<script type="text/javascript">

    $(document).ready(function () {
        getlist('', '', '');
    });
    //获得列表
    function getlist(objtr, objid, intimagecount) {
        var rtnstr = JGSZ_BMTB_JGSZ.LoadList(objtr, objid, intimagecount).value;
        if (objtr == "" && objid == "" && intimagecount == "")
            document.getElementById("divTreeListView").innerHTML = rtnstr;
        else
            $("#" + objtr).after(rtnstr);
        $("#HidTrID").val("");
                CheckChanged();
        }
    //添加数据
    function jsAddData() {
        if ($("#hidNewLine").val() == "")
            $("#hidNewLine").val(JGSZ_BMTB_JGSZ.AddData().value);
        $("#divTreeListView table").append($("#hidNewLine").val().replace('{000}', $("#divTreeListView tr").length).replace('{000}', $("#divTreeListView tr").length));
    }
    //修改数据
    function jsUpdateData(objid, objfileds, objvalues) {

        var rtn = JGSZ_BMTB_JGSZ.UpdateData(objid, objfileds, objvalues, $("#<%=hide_FBDM.ClientID %>").val()).value;
        alert(rtn);
    }
    //删除
    function jsDeleteData(obj) {
        var rtn = JGSZ_BMTB_JGSZ.DeleteData(obj).value;
        if (rtn != "")
            alert("删除成功！");
            //alert(rtn.substring(1));
    }
    function CheckChanged() {
        $("select[name='selCPFL']").change();
        $("img[name='readimage']").attr("src", "../Images/Tree/noexpand.gif");
    }
    function EditData(obj, flag) {
        if (obj.parentNode.parentNode.getElementsByTagName("img")[obj.parentNode.parentNode.getElementsByTagName("img").length - 1].src.indexOf("noexpand.gif") > -1)
            obj.parentNode.parentNode.getElementsByTagName("img")[obj.parentNode.parentNode.getElementsByTagName("img").length - 1].src = "../Images/Tree/edit.jpg";
        var trid = obj.parentNode.parentNode.id;
            if (obj.name == "selCPFL") {
                var FA = $("#" + trid + " select[name='selCPDM']").val();
                var ss = JGSZ_BMTB_JGSZ.ZCBind(obj.value, FA).value;
            if (ss != null && ss != "") {
                $("#" + trid + " select[name='selCPDM']").html(ss);
            }
            else {
                var s = $("#" + trid + " select[name='selCPDM']");
                s[0].options.length = 0;
                s[0][0] = new Option("", "");
            }
        }
    }

</script>
</asp:Content>