﻿<%@ page language="C#" autoeventwireup="true" inherits="Default2, App_Web_bcedtavn" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
<title>无标题页</title>
 <base target="_self" />
             <link href="../CSS/style.css" type="text/css" rel="Stylesheet" />
  　　

    <script type="text/javascript" src="../js/jquery-1.3.1.min.js"></script>

    <script type="text/javascript" src="../js/mainScript.js">

    </script>

    <link href="../css/style1.css" type="text/css" rel="Stylesheet" />
   <script>
   
   //thzhi 是获取公式界面传过来的字符，如果获取公式条件时选择了取界面条件，则传对应代码，比如zydm，字符之间以’，‘隔开‘
   //不选择则传空值
    var thzhi="";
     function ss()
     {
       var ID=$("#Text1").val();
       var rnt=window.showModalDialog("bbgsjs.aspx?ID="+encodeURIComponent(ID)+"&rnd="+Math.random(),"","dialogWidth:450px; dialogHeight:500px; dialogLeft:400px; dialogTop:400px; status:no; directories:yes;scrollbars:no;Resizable=no; ");
    
       var gs=rnt.split('#')[0];
       if(gs!="")
       {
       
        thzhi=rnt.split('#')[1]; 
       }
       $("#"+event.srcElement.id+"").val(gs);
     }
     
     function dsd()
     {
       var ID=$("#bb").val();
       var rnt=window.showModalDialog("bb.aspx?ID="+ID+"&rnd="+Math.random(),"df","dialogWidth:150px; dialogHeight:350px; dialogLeft:400px; dialogTop:400px; status:no; directories:yes;scrollbars:no;Resizable=no; ");
       $("#Text3").val(rnt);
     }
     
     function qz()
     {
       var ID=$("#Text1").val();
       //根据替换值 的代码，获取要替换的值，中间以|隔开
       var zvalue="";
       var zhi= Default2.qzs(ID,"5","2011-02-27,2011-03-07","1",zvalue).value;
       $("#Text2").val(zhi);
     }
     
     
     function sdsd()
     {
        var s=Default2.getz().value;
        var gss=document.getElementById("bb");
        gss.options.add(new Option("----请选择----","----请选择----"));
        for(var i=0;i<s.split('|').length;i++)
        {
          gss.options.add(new Option(s.split('|')[i].split(',')[1],s.split('|')[i].split(',')[0]));
        }
     
     }
     
     

        $(document).ready(function (){sdsd()});
   </script>
</head>
<body>
    <form id="form1" runat="server">
   
    <div>
       公式 <input id="Text1" type="text"  onclick ="ss()" style="width: 300px"/>
       值 <input id="Text2" type="text"  />
       <input id="Button1" type="button" value="求值"  onclick="qz()"/>
     
    </div>
    <div>
        <select id="bb"   onchange="dsd()">
       
            
       </select> 
    <input id="Text3" type="text"  />
    </div>
    
    
    <div>
    
    <asp:GridView ID="GridView1" runat="server">
    </asp:GridView>

    </div>
        
    </form>
</body>
</html>
