﻿<%@ page language="C#" autoeventwireup="true" inherits="ExcelMb_Default, App_Web_bcedtavn" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<%@ Register Assembly="PageOffice, Version=3.0.0.1, Culture=neutral, PublicKeyToken=1d75ee5788809228" Namespace="PageOffice" TagPrefix="po" %>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
   <title>模板设置</title>
    <link rel="stylesheet" type="text/css" href="../../Content/themes/default/easyui.css" />
    <link href="../../Content/themes/icon.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="../../CSS/style1.css" />
    <link rel="stylesheet" type="text/css" href="../../CSS/style.css" />
    <link rel="stylesheet" type="text/css" href="../../CSS/demo.css" />

    <style type="text/css">
        html, body, form
        {
            height: 100%;
            margin: 0 auto;
        }
    </style>
   
    <script type="text/javascript" src="../../JS/jquery.min.js"></script>
    <script type="text/javascript" src="../../JS/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../../JS/easyui-lang-zh_CN.js"></script>
    <script src="../../JS/Jpageoffice.js" type="text/javascript"></script>
    <script src="../../JS/jquery.zclip.js" type="text/javascript"></script>
    <script type="text/javascript">
        function ss() {
            var value = ExcelMb_Default.CreatExcel().value;
        }
    
    </script>
</head>
<body>
    <form id="form1" runat="server">

        <po:PageOfficeCtrl ID="PageOfficeCtrl1"  runat="server" Menubar="true"  OfficeToolbars="true">
       </po:PageOfficeCtrl> 
        <input id="Button1" type="button" value="button" onclick="ss()"/>

    </form>
</body>
</html>
