<%@ page language="C#" autoeventwireup="true" inherits="baobiao_ShowEXCEL, App_Web_ar103z2n" %>

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>无标题页</title>
   
    <link href="../../CSS/style1.css" type="text/css" rel="stylesheet" />
    <link href="../../CSS/style.css" type="text/css" rel="stylesheet" />
    <script src="../../JS/jquery-1.3.1.min.js" type="text/javascript"></script>
    <script src="../../JS/day.js" type="text/javascript"></script>
     <script src="../../JS/mainScript.js" type="text/javascript"></script>
     <script type="text/javascript">
     function kongjian()
   {
     document.getElementById("kj").innerHTML=baobiao_ShowEXCEL.getkongjian($("#<%=hid.ClientID %>").val()).value;
   }
   function selectvalues(id,dm,SFDX)
   {
   // debugger;
       //常用控件取值
      var cykjs=baobiao_ShowEXCEL.cykj($("#<%=hid.ClientID %>").val()).value;
      var cykjcf=cykjs.split(',');
      var sql1="";
    
      if(cykjcf[0]!="0")
      {
         sql1+="_hszqdm='"+$("#txthszqdm").val().split('.')[0]+"'";
      }
      if(cykjcf[1]!="0")
      {
         sql1+="_begintime='"+$("#txtbegintime").val()+"'";
      }
      if(cykjcf[2]!="0")
      {
         sql1+="_endtime='"+$("#txtendtime").val()+"'";
      }
      if(cykjcf[3]!="0")
      {
         sql1+="_hszxdm='"+$("#txthszxdm").val().split('.')[0]+"'";
      }
      if(cykjcf[4]!="0")
      {
         sql1+="_jedw='"+$("#txtjedw").val()+"'";
      }
       if(cykjcf[5]!="0")
      {
         sql1+="_zydm='"+$("#txtzydm").val().split('.')[0]+"'";
      }
       if(cykjcf[6]!="0")
      {
         sql1+="_cpdm='"+$("#txtcpdm").val().split('.')[0]+"'";
      }
       if(cykjcf[7]!="0")
      {
         sql1+="_fyysdm='"+$("#txtfyysdm").val().split('.')[0]+"'";
      }
//      debugger;
    
//    if($("#txtzydm").val()!=undefined)
//    {
//        if($("#txtzydm").val()!="")
//        {
//            sql1+="&zydm='"+$("#txtzydm").val().split('.')[0]+"'";
//        }
//    }

     if(SFDX=="1"||SFDX=="2"||SFDX=="3")
     {     
      var rtn=window.showModalDialog("ContentList1.aspx?ID="+id+"&DM="+dm+"&rnd="+Math.random()+"&sql="+sql1+"");
      $("#"+event.srcElement.id+"").val(rtn);
     }
     else
     {       
       var rtn=window.showModalDialog("ContentList.aspx?ID="+id+"&DM="+dm+"&rnd="+Math.random()+"&sql="+sql1+"");
       $("#"+event.srcElement.id+"").val(rtn);
     }
   }
   
   
   
   
   
   function getlist()
   {
     
    //控件代码和值
     var fcykj="";
     var ss="";
     var file=baobiao_ShowEXCEL.file($("#<%=hid.ClientID %>").val()).value;
     var typ=baobiao_ShowEXCEL.type($("#<%=hid.ClientID %>").val()).value;
     var sfd=baobiao_ShowEXCEL.sfdx($("#<%=hid.ClientID %>").val()).value;
     var cf=file.split(',');
     var typcf=typ.split(',');
     var sfdxs=sfd.split(',');
     if(cf.length>=1)
     { 
     
     for(var i=0;i<cf.length;i++)
     {
      if(typcf[i]=="3")
      {
       if(sfdxs[i]=="0")
       {
        ss+=$("#"+cf[i]+"").val().split('.')[0];

       }
       else
       {
         var sf=$("#"+cf[i]+"").val();
         var sfdxcf=sf.split(',');
         var tt="";
         for(var d=0;d<sfdxcf.length;d++)
         {
           tt+=sfdxcf[d].split('.')[0];
           if(d<sfdxcf.length-1)
           {
             tt+=",";
           }
         }
      
          ss+=tt;

       }
      }
      if(typcf[i]!="3"&&typcf[i]!="")
      {
      
        ss+= $("#"+cf[i]+"").val();
        var dm=$("#"+cf[i]+"").selector.split('_')[0];
        fcykj+=dm.substring(4,dm.length) +":"+$("#"+cf[i]+"").val()+",";
       // debugger;
      }
      if(i<cf.length-1)
      {
        ss+="|";
      }
      var dd="";
     }
     ///筛选控件设置
      var kk=document.getElementById("Check_shuaixuan");
      var ck;
      var shaixuan;
      if(kk!=null)
      {
          if(kk.checked)
          {
            ck="1";
            var getids=baobiao_ShowEXCEL.getid($("#<%=hid.ClientID %>").val()).value;
            shaixuan=$("#"+getids+"").val();
          }
          else
          {
            ck="0";
          }
      }
      else
      {
        ck="2";
      }

     //判断非空字段是否为空 
    var sfkks=baobiao_ShowEXCEL.sfkk($("#<%=hid.ClientID %>").val()).value;
    var names=baobiao_ShowEXCEL.name($("#<%=hid.ClientID %>").val()).value;
    var sfkkcf=sfkks.split(',');
    for(var i=0;i<sfkkcf.length;i++)
    {
    if(cf[i]!=""){
     var sf=$("#"+cf[i]+"").val();
     }
     if(sfkks.split(',')[i]=="0")
     {
       if(sf=="")
       {
        alert(names.split(',')[i]+"不能为空");
        return;
       }
     }
    }
    
    
    var zdsfwk=baobiao_ShowEXCEL.cykjsfwk($("#<%=hid.ClientID %>").val()).value;
   
    if(zdsfwk!="")
    {
        var zhipd=zdsfwk.split('+')[0];
        var ziduanpd=zdsfwk.split('+')[1];
        var kjidz=zdsfwk.split('+')[2];
        for(var i=0;i<zhipd.split(',').length;i++)
        {
          if(zhipd.split(',')[i]=="2"||zhipd.split(',')[i]=="4")
          {
          var kjvalue=$("#"+kjidz.split(',')[i]+"").val();
          if(kjvalue=="")
          {
           alert(ziduanpd.split(',')[i]+"不能为空");
            return;
            }
          }
        }
    }
    
    
   
    var zdsfwk=baobiao_ShowEXCEL.cykjsfwk($("#<%=hid.ClientID %>").val()).value;
   // debugger;
    if(zdsfwk!="")
    {
        var zhipd=zdsfwk.split('+')[0];
        var ziduanpd=zdsfwk.split('+')[1];
        var kjidz=zdsfwk.split('+')[2];
        for(var i=0;i<zhipd.split(',').length;i++)   
        {
          if(zhipd.split(',')[i]=="2"||zhipd.split(',')[i]=="4")
          {
          var kjvalue=$("#"+kjidz.split(',')[i]+"").val();
          if(kjvalue=="")
          {
           alert(ziduanpd.split(',')[i]+"不能为空");
            return;
            }
          }
        }
    }

   
   
   
   
    //常用控件取值
    var cykjs=baobiao_ShowEXCEL.cykj($("#<%=hid.ClientID %>").val()).value;
    var cykjcf=cykjs.split(',');
    var cykjqz="";
    var hszqdm="",time="";

    if(cykjcf[0]!="0")
    {
      cykjqz+=$("#txthszqdm").val()+",";
      hszqdm=$("#txthszqdm").val();
      fcykj+="hszqdm:"+$("#txthszqdm").val()+",";
    }
    else
    {
     cykjqz+=""+",";
    }
    if(cykjcf[1]!="0")
    {
     cykjqz+=$("#txtbegintime").val()+",";
     time=$("#txtbegintime").val();
     fcykj+="begintime:"+$("#txtbegintime").val()+",";
    }
     else
    {
     cykjqz+=""+",";
    }
    if(cykjcf[2]!="0")
    {
     cykjqz+=$("#txtendtime").val()+",";
     time+=","+$("#txtendtime").val();
     fcykj+="endtime:"+$("#txtendtime").val()+",";
    }
     else
    {
     cykjqz+=""+",";
    }
    if(cykjcf[3]!="0")
    {
     cykjqz+=$("#txthszxdm").val()+",";
     fcykj+="hszxdm:"+$("#txthszxdm").val()+",";
    }
     else
    {
     cykjqz+=""+",";
    }
    if(cykjcf[4]!="0")
    {
     cykjqz+=$("#txtjedw").val()+",";
     fcykj+="jedw:"+$("#txtjedw").val()+",";
    }
     else
    {
     cykjqz+=""+",";
    }
     if(cykjcf[5]!="0")
    {
     cykjqz+=$("#txtzydm").val()+",";
     fcykj+="zydm:"+$("#txtzydm").val()+",";
    }
     else
    {
     cykjqz+=""+",";
    }
     if(cykjcf[6]!="0")
    {
     cykjqz+=$("#txtcpdm").val()+",";
     fcykj+="cpdm:"+$("#txtcpdm").val()+",";
    }
     else
    {
     cykjqz+=""+",";
    }
     if(cykjcf[7]!="0")
    {
     cykjqz+=$("#txtfyysdm").val()+",";
     fcykj+="fyysdm:"+$("#txtfyysdm").val()+",";
    }
     else
    {
     cykjqz+=""+",";
    }
    }
     
      baobiao_ShowEXCEL.getlist($("#<%=hid.ClientID %>").val(),ss,ck,shaixuan,cykjqz).value;
     
     $("#divlist").html(baobiao_ShowEXCEL.getList($("#<%=hid.ClientID %>").val(),$("#<%=hidURL.ClientID %>").val(),hszqdm,time,fcykj,$("#<%=hidXHZ.ClientID %>").val()).value);     
   }
   
   function xuanzhe()
   {
     var ss=document.getElementById("Check_shuaixuan");
     var getids=baobiao_ShowEXCEL.getid($("#<%=hid.ClientID %>").val()).value;
     if(ss.checked)
     {
       document.all[getids].style.display="inline";
     }
     else
     {
      document.all[getids].style.display="none";
     }
   }
   
   $(document).ready(function(){kongjian();}); 
</script>
</head>
<body >
    <form id="form1" runat="server">
      <img alt="" src="../Images/title.JPG" /><asp:Label ID="bbName"
        runat="server" ></asp:Label><br /> <hr style="background-color:black;height:1px;" />
    <div>
    <div id="kj">
    

</div>
   <div id="divlist" style="width:100%; height:550px;">
   </div>
    </div>
    <input id="hid" type="hidden"  runat ="server"/>
     <input id="kjz" type="hidden"  runat ="server" style ="width :40px"/>
     <input id="hidURL" type="hidden" runat="server" />
     <input id="hidXHZ" type="hidden" runat="server" />
    </form>
</body>
</html>
