﻿<%@ Page Language="C#" enableViewStateMac="false"  AutoEventWireup="true" CodeFile="Login.aspx.cs" Inherits="Loginss" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN" "http://www.w3.org/TR/html4/strict.dtd">  
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">  
<head id="Head1" runat="server">
    <title>全面预算管理系统</title>
   <%-- <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />  --%>
    <meta http-equiv="X-UA-Compatible"  content="IE=edge,chrome=1"/>
    <link href="CSS/style1.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="JS/jquery-1.3.1.min.js"></script>
    <style type="text/css">
    .button11{border:1px #93b9dc solid;background:url(Images/button_bg.gif) repeat;padding:0px 6px; cursor:pointer; }
    a:hover {display:block;}
    </style>
</head>

<body scroll="no" style="overflow:hidden">
    <form id="form1" runat="server" style="overflow:hidden; text-align:center">
          <div id="divXXTG" style="position:absolute; z-index:99999;">
           <table id="tableXXTG">
             <tr>
              <td id="tdxxgg">
                <a style="font-size:23px;font-family: 楷体; text-decoration:none; color:Red">消息公告：</a>
              </td>
              <td id="tdxxgglr">
                <marquee direction="left" scrollamount="2" style="" >
                <a title="<%=getTgxx()%>" style="font-size:23px;font-family: 楷体; text-decoration:none; color:Red" href="#"><%=getTgxx()%></a>
                </marquee>
              </td>
             </tr>
           </table>

          </div> 
          <div id="DivTitle" style="position:absolute; z-index:99999; text-align:left">
          <span style=" font-size:23px;font-family: 楷体; color:White ">使用说明：首次登陆系统请下载安装office组件,建议使用谷歌，360浏览器极速模式，IE8+</span><br />
          <%--<span style=" font-size:23px;font-family: 楷体; color:White "><span onclick="openUrlSysc()"   style="color:Red; cursor:pointer; text-decoration:underline;">使用手册</span></span>--%>
          </div> 
          <div id="Div1" style="position:absolute; z-index:99999;width:100%; font-family: 楷体;text-align:center"><span style=" font-size:19px; ">北京华油博联信息技术有限公司 |版权所有 Boomlink Information Technology Co. Ltd.<br />技术负责人电话：13152099628 QQ群：467020224</span></div> 
          
           <img  alt="" src="Images/11231.jpg" id="divMain"/>

        <div id="divS" style="text-align:left; position:absolute;z-index:3;">
        <table style="color:White; font-size:25px; font-family: 楷体;">
         <tr>
          <td>
              <asp:Label ID="Label4" runat="server" Text="编 号:" BorderStyle="None" ></asp:Label>
          </td>
          <td>
             <input type="text" id="txtuid" style="font-size:25px;"  runat="server" onchange="getName()"/>
          </td>
          </tr>
          <tr>
           <td>
              <asp:Label ID="Label2" runat="server" Text="密  码 ：" BorderStyle="None"></asp:Label>
           </td>
           <td>
             <input type="password" id="txtpwd" style="font-size:25px;" runat="server" />
           </td>
           </tr>
            <tr>
          <td>
              <asp:Label ID="Label1" runat="server" Text="姓 名："  BorderStyle="None" ></asp:Label>
          </td>
          <td>
              <asp:Label ID="txtXM" runat="server" style="font-size:25px;" Text="************"></asp:Label>
            <%-- <input type="text" id="txtXM" style="font-size:25px;"  runat="server" disabled="disabled"/>--%>
          </td>
          </tr>
           <tr>
            <td>
                 <asp:Label ID="Label3" runat="server" Text="年  份 ：" BorderStyle="None" ></asp:Label>
            </td>
            <td>
              <select id="DDLYear" style="margin-left:0.1px;font-size:25px;"></select>
            </td>
         </tr>
        </table>
            
           
        <%--    <div style="color:White; font-size: 16px; font-family: 宋体;">数据库：&nbsp;&nbsp;<input type="text" id="TxtDataBase" style="width:160px" runat="server"/></div>--%>
            <div id="DivKJ" style="font-family: 宋体;padding-top:7px">
            <%-- <input id="Button1" onclick="openUrl()" class="button11" style="font-size:23px; text-align:center" type="button" value="下载组件" />--%>
          <asp:Button runat="server" ID="bytton1" Text="登&nbsp;&nbsp;&nbsp;&nbsp;录" CssClass="button11" style="font-size:23px; width:100px"  OnClientClick="return checkisnull();" OnClick="Text1_ServerClick" />

            <input type="hidden" runat="server" id="hidyy" />
            </div>
           
        </div>  
      
    </form>
    <script type="text/javascript">
        $(function () {
            if (window.PIE) {
                $('.rounded').each(function () {
                    PIE.attach(this);
                });
            }
        });
        //获取用户名
        function getName() {
            var id = $("#<%=txtuid.ClientID %>").val();
            var name = Loginss.getName(id).value;
            $("#<%=txtXM.ClientID %>").html(name);
        }
        //获取文件路径
        function geturlpath() {
            var href = document.location.href;
            var h = href.split("/");
            href = "";
            for (i = 0; i < h.length - 1; i++) {
                href += h[i] + "/";
            }
            return href;
        }
        //excel组件下载
        function openUrl() {
            //            var url = geturlpath() + "Excels/pageoffice/setup.exe";
            //            open(url, "_blank");
            url = geturlpath() + "Excels/pageoffice/posetup.rar";
            window.open(url);

        }
        //使用手册下载
        function openUrlSysc() {
            //            var url = geturlpath() + "Excels/pageoffice/setup.exe";
            //            open(url, "_blank");
            url = geturlpath() + "Excels/pageoffice/基于装置标准成本的全面预算管理系统操作培训-分开.ppt";
            window.open(url);

        }

        //校验用户名不能为空
        function checkisnull() {

            var uid = $("#txtuid").val();
            var pwd = $("#txtpwd").val();
            var year = $("#DDLYear").val();

            if (uid == "" ) {
                alert("用户名不能为空！")
                return false;
            }
            if (pwd == "" ) {
                alert("密码不能为空！")
                return false;
            }

            var upuid = uid.toUpperCase();
            var uppwd = pwd.toUpperCase();
            var upyear = year.toUpperCase();
            var sqlList = ["UNION", "INSERT", "DELETE", "UPDATE", "SELECT", "ORDER", "GROUP", "DROP", "ALTER ", "WHERE", "LIKE", "FROM", "OR", "AND", "TRUNCATE", "EXEC", "DATABASE", "TABLE", "SET", "VALUES", "'", "\"", "1=1", "--", "="];
            
            reg = /[`~!@#$%^&*()_+<>?:"{},.\/;'[\]]/im;
            if (reg.test(uid) || reg.test(year)) {
                alert("输入内容不合法！");
                return false;
            }
            for (i = 0; i < sqlList.length; i++) {
                if (upuid.indexOf(sqlList[i]) != -1 || uppwd.indexOf(sqlList[i]) != -1 || upyear.indexOf(sqlList[i]) != -1) {
                    alert("输入内容不合法！");
                    return false;
                }
            }
            


            //        if($("#txtpwd").val()=="")
            //        {
            //            alert("密码不能为空！")
            //            return false;
            //        }
            //        if ($("#TxtDataBase").val() == "") 
            //        {
            //            alert("数据库名称不能为空！");
            //            return false;
            //        }

            $("#hidyy").val($("#DDLYear").val());

            return true;
        }
        function setYYs() {
            var ss = Loginss.GetDDLYear($("#hidyy").val()).value;
            $("#DDLYear").html(ss);

        }
        //调节用户登录页面样式
        function setSize() {
            var tx = document.body.clientWidth * 0.9;
            var ty = ((document.documentElement.clientHeight == 0) ? document.body.clientHeight : document.documentElement.clientHeight);
            $("#divMain").css("width", tx + "px");
            $("#divMain").css("height", ty + "px");
            $("#divMain").css("left", document.body.clientWidth * 0.01 + "px");
            //$("#divMain").css("right", 1+ "px");
            $("#divS").css("top", ty * 0.2 + "px");
            $("#divS").css("left", tx * 0.75 + "px");
            $("#DivTitle").css("left", tx * 0.74 + "px");
            $("#DivTitle").css("top", ty * 0.63 + "px");
            $("#DivTitle").css("width", tx * 0.31 + "px");
            $("#Div1").css("top", ty * 0.93 + "px");
            $("#Button1").css("width", $("#divS").width() * 0.27);
            $("#DivKJ").css("padding-left", $("#DivKJ").width() * 0.5+ "px");

            $("#divXXTG").css("left", tx * 0.025 + "px");
            $("#divXXTG").css("top", ty * 0.03+ "px");
            $("#divXXTG").css("width", tx * 0.4+ "px");
            $("#tableXXTG").css("width", tx * 0.8 + "px");
            $("#tdxxgg").css("width", $("#tableXXTG").width() *0.2 +"px");
            $("#tdxxgglr").css("width", $("#tableXXTG").width()*0.5 + "px");
            $("#txtuid").css("width", tx * 0.17 + "px");
            $("#txtpwd").css("width", tx * 0.17 + "px");
            $("#DDLYear").css("width", tx * 0.173 + "px");
            $("#<%=txtXM.ClientID %>").css("width", tx * 0.169 + "px");
        }
        function hqTgxx() {
           
            $("#SpanTgxx").html();
        }
        window.onresize = function () { setSize(); };

        //单点登录测试CODE
        function SsoLogin() {
            var res = Loginss.SsoLogin().value;
            alert(res);
        }

        $(document).ready(function () {
            setYYs();
            setSize();
        })
    </script>
</body>
</html>